<div class="charge">
    <span>Financial</span>
</div>
<!-- sub hedaing  -->
<div class="sub-heading-div">
    <p class="sub-heading">Installments Overview</p>
    <i class="fa-solid fa-caret-right"></i>
    <p class="arrow-line"></p>
</div>
<!-- sub hedaing close -->
<!--cards-->
<div class="card-grid-div">
    <!-- First Card -->
    <mat-card>
        <div class="card-top">
            <div>
                <img src="../assets/Financial/image 143.png" alt="" class="img_first">
            </div>
            <div>
                <img src="../assets/Financial/stoke.png" alt="" class="img_second">
            </div>
        </div>
        <div class="card-down">
            <p class="card-medium">1</p>
            <p class="card-bottom">Open Installments</p>
        </div>
    </mat-card>
    <!-- Second Card -->
    <mat-card>
        <div class="card-top">
            <div>
                <img src="../assets/Financial/image 144.png" alt="" class="img_first">
            </div>
            <div>
                <img src="../assets/Financial/stoke.png" alt="" class="img_second">
            </div>
        </div>
        <div class="card-down">
            <p class="card-medium">0</p>
            <p class="card-bottom">Pending Verification</p>
        </div>
    </mat-card>
    <!-- Third Card -->
    <mat-card>
        <div class="card-top">
            <div>
                <img src="../assets/Financial/image 145.png" alt="" class="img_first">
            </div>
            <div>
                <img src="../assets/Financial/stoke.png" alt="" class="img_second">
            </div>
        </div>
        <div class="card-down">
            <p class="card-medium">0</p>
            <p class="card-bottom">Finished Installments</p>
        </div>
    </mat-card>

    <!-- fourt Card -->
    <mat-card>
        <div class="card-top">
            <div>
                <img src="../assets/Financial/image 146.png" alt="" class="img_first">
            </div>
            <div>
                <img src="../assets/Financial/stoke.png" alt="" class="img_second">
            </div>
        </div>
        <div class="card-down">
            <p class="card-medium">1</p>
            <p class="card-bottom">Overdue Installments</p>
        </div>
    </mat-card>
</div>
<!--end cards-->


<!-- my installment  stART-->
<div class="sub-heading-div">
    <p class="sub-heading">My Installments</p>
    <i class="fa-solid fa-caret-right"></i>
    <p class="arrow-line"></p>
</div>

<!-- card start -->
<mat-card class="outer-instructor">

    <!-- <i class="fa-regular fa-circle-down text-xl text-end p-4 "></i> -->
    <mat-card-content class="inner-instructor  ">
        <img src="assets/Financial/image 177.png" alt="" class="img-course">
        <p class="heading-content-instructor">
            You don't have any active subscription plan! </p>
        <p class="content-instructor">
            You can choose a subscription plan from the following list and enroll in courses.</p>



    </mat-card-content>
</mat-card>
<!-- card end -->