<!-- myCourses works div  -->
<div class="My-Up-Coming-Courses" *ngIf="!isStepper">


    <!-- <div>
        <p class="heading-tag">Courses</p>
        <p class="hr-line"></p> 
    </div> -->

    <div class="result-statistics sub-heading-div">
        <div class="my-quizzer-heading-div">
            <p>Products Statistics</p>

            <div class="quizzers-arrow-line-div">
                <mat-icon class="mat-18 quizzers-arrow-icon">play_arrow</mat-icon>
                <p class="quizzers-pink-line m0"></p>
            </div>
        </div>

    </div>


    <!-- mat cards   -->
    <!-- card1 -->
    <div class="mat-card-div">
        <mat-card class="support-card-border">
            <mat-card-content class="support-contaent-div">
                <div class="icon-img-div">
                    <img src="assets/products/card1.png" class="suppoet-icon-envelop" alt="image 143.png">
                    <!-- <i   fa-solid fa-envelope-open-text"></i> -->
                    <img src="assets/products/dash.png" class="suppoet-img" alt="Group 340235.png">
                </div>
                <div class="card-text-div">
                    <p class="text-1 med-30">1</p>
                    <p class="text-2 med-14">Physical Products</p>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="support-card-border">
            <mat-card-content class="support-contaent-div">
                <div class="icon-img-div">
                    <img src="assets/products/card2.png" class="suppoet-icon-envelop" alt="image 144.png">
                    <img src="assets/products/dash.png" class="suppoet-img" alt="Group 340235.png">
                </div>
                <div class="card-text-div">
                    <p class="text-1 med-30">1</p>
                    <p class="text-2 med-14">Virtual Products</p>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="support-card-border">
            <mat-card-content class="support-contaent-div">
                <div class="icon-img-div">
                    <img src="assets/products/card3.png" class="suppoet-icon-envelop" alt="image 145.png">
                    <img src="assets/products/dash.png" class="suppoet-img" alt="Group 340235.png">
                </div>
                <div class="card-text-div">
                    <p class="text-1 med-30">$109.50</p>
                    <p class="text-2 med-14">Virtual Products</p>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="support-card-border">
            <mat-card-content class="support-contaent-div">
                <div class="icon-img-div">
                    <img src="assets/products/card4.png" class="suppoet-icon-envelop" alt="image 145.png">
                    <img src="assets/products/dash.png" class="suppoet-img" alt="Group 340235.png">
                </div>
                <div class="card-text-div">
                    <p class="text-1 med-30">$78.75</p>
                    <p class="text-2 med-14">Virtual Sales</p>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- mat cards close -->



    <div class="toggle-with-line">

        <div class="result-statistics">
            <div class="my-quizzer-heading-div">
                <p>My Products</p>

                <div class="quizzers-arrow-line-div">
                    <mat-icon class="mat-18 quizzers-arrow-icon">play_arrow</mat-icon>
                    <p class="quizzers-pink-line m0"></p>
                </div>
            </div>



        </div>
    </div>






    <!-- my upcoming courses div  -->
    <div>

        <!-- card1 -->
        <mat-card>
            <mat-card-content class="courses-mat-card-div">
                <div class="img-div">
                    <img src="assets/products/active.png" class="img-2-div-absulute" alt="Group 341267.png">
                    <img src="assets/products/product1.png" alt="Rectangle 4569.png">
                </div>
                <div class="cource-mat-card-content">
                    <div class="hedaing-and-button">
                        <div class="hedaing-and-button-btn-and-live">
                            <p class="card-heading">Business Software</p>
                            <!-- <button mat-button class="card-button">Course</button> -->
                        </div>

                        <div class="three-dot-button">
                            <button mat-icon-button [matMenuTriggerFor]="menu"
                                aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <!-- (click)="Newdelete()" -->

                                <button mat-menu-item (click)="isStepperFun() "> Edit </button>

                                <button mat-menu-item (click)="deletePopup()"> Delete </button>
                            </mat-menu>
                        </div>


                    </div>


                    <div class="star-number-div">
                        <div class="stars-parent-div">


                            <div class="star-div">
                                <svg xmlns="http://www.w3.org/2000/svg" width="em" height="em" viewBox="0 0 128 128">
                                    <path fill="#fdd835"
                                        d="m68.05 7.23l13.46 30.7a7.047 7.047 0 0 0 5.82 4.19l32.79 2.94c3.71.54 5.19 5.09 2.5 7.71l-24.7 20.75c-2 1.68-2.91 4.32-2.36 6.87l7.18 33.61c.63 3.69-3.24 6.51-6.56 4.76L67.56 102a7.033 7.033 0 0 0-7.12 0l-28.62 16.75c-3.31 1.74-7.19-1.07-6.56-4.76l7.18-33.61c.54-2.55-.36-5.19-2.36-6.87L5.37 52.78c-2.68-2.61-1.2-7.17 2.5-7.71l32.79-2.94a7.047 7.047 0 0 0 5.82-4.19l13.46-30.7c1.67-3.36 6.45-3.36 8.11-.01" />
                                    <path fill="#ffff8d"
                                        d="m67.07 39.77l-2.28-22.62c-.09-1.26-.35-3.42 1.67-3.42c1.6 0 2.47 3.33 2.47 3.33l6.84 18.16c2.58 6.91 1.52 9.28-.97 10.68c-2.86 1.6-7.08.35-7.73-6.13" />
                                    <path fill="#f4b400"
                                        d="M95.28 71.51L114.9 56.2c.97-.81 2.72-2.1 1.32-3.57c-1.11-1.16-4.11.51-4.11.51l-17.17 6.71c-5.12 1.77-8.52 4.39-8.82 7.69c-.39 4.4 3.56 7.79 9.16 3.97" />
                                </svg>
                            </div>


                            <div class="star-div">
                                <svg xmlns="http://www.w3.org/2000/svg" width="em" height="em" viewBox="0 0 128 128">
                                    <path fill="#fdd835"
                                        d="m68.05 7.23l13.46 30.7a7.047 7.047 0 0 0 5.82 4.19l32.79 2.94c3.71.54 5.19 5.09 2.5 7.71l-24.7 20.75c-2 1.68-2.91 4.32-2.36 6.87l7.18 33.61c.63 3.69-3.24 6.51-6.56 4.76L67.56 102a7.033 7.033 0 0 0-7.12 0l-28.62 16.75c-3.31 1.74-7.19-1.07-6.56-4.76l7.18-33.61c.54-2.55-.36-5.19-2.36-6.87L5.37 52.78c-2.68-2.61-1.2-7.17 2.5-7.71l32.79-2.94a7.047 7.047 0 0 0 5.82-4.19l13.46-30.7c1.67-3.36 6.45-3.36 8.11-.01" />
                                    <path fill="#ffff8d"
                                        d="m67.07 39.77l-2.28-22.62c-.09-1.26-.35-3.42 1.67-3.42c1.6 0 2.47 3.33 2.47 3.33l6.84 18.16c2.58 6.91 1.52 9.28-.97 10.68c-2.86 1.6-7.08.35-7.73-6.13" />
                                    <path fill="#f4b400"
                                        d="M95.28 71.51L114.9 56.2c.97-.81 2.72-2.1 1.32-3.57c-1.11-1.16-4.11.51-4.11.51l-17.17 6.71c-5.12 1.77-8.52 4.39-8.82 7.69c-.39 4.4 3.56 7.79 9.16 3.97" />
                                </svg>
                            </div>


                            <div class="star-div">
                                <svg xmlns="http://www.w3.org/2000/svg" width="em" height="em" viewBox="0 0 128 128">
                                    <path fill="#fdd835"
                                        d="m68.05 7.23l13.46 30.7a7.047 7.047 0 0 0 5.82 4.19l32.79 2.94c3.71.54 5.19 5.09 2.5 7.71l-24.7 20.75c-2 1.68-2.91 4.32-2.36 6.87l7.18 33.61c.63 3.69-3.24 6.51-6.56 4.76L67.56 102a7.033 7.033 0 0 0-7.12 0l-28.62 16.75c-3.31 1.74-7.19-1.07-6.56-4.76l7.18-33.61c.54-2.55-.36-5.19-2.36-6.87L5.37 52.78c-2.68-2.61-1.2-7.17 2.5-7.71l32.79-2.94a7.047 7.047 0 0 0 5.82-4.19l13.46-30.7c1.67-3.36 6.45-3.36 8.11-.01" />
                                    <path fill="#ffff8d"
                                        d="m67.07 39.77l-2.28-22.62c-.09-1.26-.35-3.42 1.67-3.42c1.6 0 2.47 3.33 2.47 3.33l6.84 18.16c2.58 6.91 1.52 9.28-.97 10.68c-2.86 1.6-7.08.35-7.73-6.13" />
                                    <path fill="#f4b400"
                                        d="M95.28 71.51L114.9 56.2c.97-.81 2.72-2.1 1.32-3.57c-1.11-1.16-4.11.51-4.11.51l-17.17 6.71c-5.12 1.77-8.52 4.39-8.82 7.69c-.39 4.4 3.56 7.79 9.16 3.97" />
                                </svg>
                            </div>


                            <div class="star-div">
                                <svg xmlns="http://www.w3.org/2000/svg" width="em" height="em" viewBox="0 0 128 128">
                                    <path fill="#fdd835"
                                        d="m68.05 7.23l13.46 30.7a7.047 7.047 0 0 0 5.82 4.19l32.79 2.94c3.71.54 5.19 5.09 2.5 7.71l-24.7 20.75c-2 1.68-2.91 4.32-2.36 6.87l7.18 33.61c.63 3.69-3.24 6.51-6.56 4.76L67.56 102a7.033 7.033 0 0 0-7.12 0l-28.62 16.75c-3.31 1.74-7.19-1.07-6.56-4.76l7.18-33.61c.54-2.55-.36-5.19-2.36-6.87L5.37 52.78c-2.68-2.61-1.2-7.17 2.5-7.71l32.79-2.94a7.047 7.047 0 0 0 5.82-4.19l13.46-30.7c1.67-3.36 6.45-3.36 8.11-.01" />
                                    <path fill="#ffff8d"
                                        d="m67.07 39.77l-2.28-22.62c-.09-1.26-.35-3.42 1.67-3.42c1.6 0 2.47 3.33 2.47 3.33l6.84 18.16c2.58 6.91 1.52 9.28-.97 10.68c-2.86 1.6-7.08.35-7.73-6.13" />
                                    <path fill="#f4b400"
                                        d="M95.28 71.51L114.9 56.2c.97-.81 2.72-2.1 1.32-3.57c-1.11-1.16-4.11.51-4.11.51l-17.17 6.71c-5.12 1.77-8.52 4.39-8.82 7.69c-.39 4.4 3.56 7.79 9.16 3.97" />
                                </svg>
                            </div>


                            <div class="star-div">
                                <svg xmlns="http://www.w3.org/2000/svg" width="em" height="em" viewBox="0 0 128 128">
                                    <path fill="#fdd835"
                                        d="m68.05 7.23l13.46 30.7a7.047 7.047 0 0 0 5.82 4.19l32.79 2.94c3.71.54 5.19 5.09 2.5 7.71l-24.7 20.75c-2 1.68-2.91 4.32-2.36 6.87l7.18 33.61c.63 3.69-3.24 6.51-6.56 4.76L67.56 102a7.033 7.033 0 0 0-7.12 0l-28.62 16.75c-3.31 1.74-7.19-1.07-6.56-4.76l7.18-33.61c.54-2.55-.36-5.19-2.36-6.87L5.37 52.78c-2.68-2.61-1.2-7.17 2.5-7.71l32.79-2.94a7.047 7.047 0 0 0 5.82-4.19l13.46-30.7c1.67-3.36 6.45-3.36 8.11-.01" />
                                    <path fill="#ffff8d"
                                        d="m67.07 39.77l-2.28-22.62c-.09-1.26-.35-3.42 1.67-3.42c1.6 0 2.47 3.33 2.47 3.33l6.84 18.16c2.58 6.91 1.52 9.28-.97 10.68c-2.86 1.6-7.08.35-7.73-6.13" />
                                    <path fill="#f4b400"
                                        d="M95.28 71.51L114.9 56.2c.97-.81 2.72-2.1 1.32-3.57c-1.11-1.16-4.11.51-4.11.51l-17.17 6.71c-5.12 1.77-8.52 4.39-8.82 7.69c-.39 4.4 3.56 7.79 9.16 3.97" />
                                </svg>
                            </div>


                        </div>

                        <p class="reg-20">5.00</p>
                    </div>

                    <div class="free-button-div">
                        <button mat-raised-button class="free-button">$75</button>
                    </div>


                    <!-- detail div -->
                    <div class="details-divs">
                        <div>
                            <p class="detail-heading">Item ID: </p>
                            <p class="detail-heading-2">5</p>
                        </div>
                        <div>
                            <p class="detail-heading">Category: </p>
                            <p class="detail-heading-2">E-Book</p>
                        </div>
                        <div>
                            <p class="detail-heading">Type:</p>
                            <p class="detail-heading-2">Virtual</p>
                        </div>
                        <div>
                            <p class="detail-heading">Available:</p>
                            <p class="detail-heading-2"> 9</p>
                        </div>
                        <div>
                            <p class="detail-heading">Sales:</p>
                            <p class="detail-heading-2">1 ($13.78)</p>
                        </div>


                    </div>
                    <!-- detail div close -->
                </div>
            </mat-card-content>

        </mat-card>

        <!-- card2 -->
        <mat-card>
            <mat-card-content class="courses-mat-card-div">
                <div class="img-div">
                    <img src="assets/products/active.png" class="img-2-div-absulute" alt="Group 341267.png">
                    <img src="assets/products/product2.png" alt="Rectangle 4569.png">
                </div>
                <div class="cource-mat-card-content">
                    <div class="hedaing-and-button">
                        <div class="hedaing-and-button-btn-and-live">
                            <p class="card-heading">Painting tools</p>
                            <!-- <button mat-button class="card-button">Live Class</button> -->
                        </div>

                        <div class="three-dot-button">
                            <button mat-icon-button [matMenuTriggerFor]="menu"
                                aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <!-- (click)="Newdelete()" -->
                                <!-- <button mat-menu-item>Learning Page</button> -->
                                <button mat-menu-item> Edit </button>
                                <button mat-menu-item> Delete </button>
                            </mat-menu>
                        </div>


                    </div>


                    <div class="star-number-div">
                        <div class="stars-parent-div">


                            <div class="star-div">
                                <svg xmlns="http://www.w3.org/2000/svg" width="em" height="em" viewBox="0 0 128 128">
                                    <path fill="#fdd835"
                                        d="m68.05 7.23l13.46 30.7a7.047 7.047 0 0 0 5.82 4.19l32.79 2.94c3.71.54 5.19 5.09 2.5 7.71l-24.7 20.75c-2 1.68-2.91 4.32-2.36 6.87l7.18 33.61c.63 3.69-3.24 6.51-6.56 4.76L67.56 102a7.033 7.033 0 0 0-7.12 0l-28.62 16.75c-3.31 1.74-7.19-1.07-6.56-4.76l7.18-33.61c.54-2.55-.36-5.19-2.36-6.87L5.37 52.78c-2.68-2.61-1.2-7.17 2.5-7.71l32.79-2.94a7.047 7.047 0 0 0 5.82-4.19l13.46-30.7c1.67-3.36 6.45-3.36 8.11-.01" />
                                    <path fill="#ffff8d"
                                        d="m67.07 39.77l-2.28-22.62c-.09-1.26-.35-3.42 1.67-3.42c1.6 0 2.47 3.33 2.47 3.33l6.84 18.16c2.58 6.91 1.52 9.28-.97 10.68c-2.86 1.6-7.08.35-7.73-6.13" />
                                    <path fill="#f4b400"
                                        d="M95.28 71.51L114.9 56.2c.97-.81 2.72-2.1 1.32-3.57c-1.11-1.16-4.11.51-4.11.51l-17.17 6.71c-5.12 1.77-8.52 4.39-8.82 7.69c-.39 4.4 3.56 7.79 9.16 3.97" />
                                </svg>
                            </div>


                            <div class="star-div">
                                <svg xmlns="http://www.w3.org/2000/svg" width="em" height="em" viewBox="0 0 128 128">
                                    <path fill="#fdd835"
                                        d="m68.05 7.23l13.46 30.7a7.047 7.047 0 0 0 5.82 4.19l32.79 2.94c3.71.54 5.19 5.09 2.5 7.71l-24.7 20.75c-2 1.68-2.91 4.32-2.36 6.87l7.18 33.61c.63 3.69-3.24 6.51-6.56 4.76L67.56 102a7.033 7.033 0 0 0-7.12 0l-28.62 16.75c-3.31 1.74-7.19-1.07-6.56-4.76l7.18-33.61c.54-2.55-.36-5.19-2.36-6.87L5.37 52.78c-2.68-2.61-1.2-7.17 2.5-7.71l32.79-2.94a7.047 7.047 0 0 0 5.82-4.19l13.46-30.7c1.67-3.36 6.45-3.36 8.11-.01" />
                                    <path fill="#ffff8d"
                                        d="m67.07 39.77l-2.28-22.62c-.09-1.26-.35-3.42 1.67-3.42c1.6 0 2.47 3.33 2.47 3.33l6.84 18.16c2.58 6.91 1.52 9.28-.97 10.68c-2.86 1.6-7.08.35-7.73-6.13" />
                                    <path fill="#f4b400"
                                        d="M95.28 71.51L114.9 56.2c.97-.81 2.72-2.1 1.32-3.57c-1.11-1.16-4.11.51-4.11.51l-17.17 6.71c-5.12 1.77-8.52 4.39-8.82 7.69c-.39 4.4 3.56 7.79 9.16 3.97" />
                                </svg>
                            </div>


                            <div class="star-div">
                                <svg xmlns="http://www.w3.org/2000/svg" width="em" height="em" viewBox="0 0 128 128">
                                    <path fill="#fdd835"
                                        d="m68.05 7.23l13.46 30.7a7.047 7.047 0 0 0 5.82 4.19l32.79 2.94c3.71.54 5.19 5.09 2.5 7.71l-24.7 20.75c-2 1.68-2.91 4.32-2.36 6.87l7.18 33.61c.63 3.69-3.24 6.51-6.56 4.76L67.56 102a7.033 7.033 0 0 0-7.12 0l-28.62 16.75c-3.31 1.74-7.19-1.07-6.56-4.76l7.18-33.61c.54-2.55-.36-5.19-2.36-6.87L5.37 52.78c-2.68-2.61-1.2-7.17 2.5-7.71l32.79-2.94a7.047 7.047 0 0 0 5.82-4.19l13.46-30.7c1.67-3.36 6.45-3.36 8.11-.01" />
                                    <path fill="#ffff8d"
                                        d="m67.07 39.77l-2.28-22.62c-.09-1.26-.35-3.42 1.67-3.42c1.6 0 2.47 3.33 2.47 3.33l6.84 18.16c2.58 6.91 1.52 9.28-.97 10.68c-2.86 1.6-7.08.35-7.73-6.13" />
                                    <path fill="#f4b400"
                                        d="M95.28 71.51L114.9 56.2c.97-.81 2.72-2.1 1.32-3.57c-1.11-1.16-4.11.51-4.11.51l-17.17 6.71c-5.12 1.77-8.52 4.39-8.82 7.69c-.39 4.4 3.56 7.79 9.16 3.97" />
                                </svg>
                            </div>


                            <div class="star-div">
                                <svg xmlns="http://www.w3.org/2000/svg" width="em" height="em" viewBox="0 0 128 128">
                                    <path fill="#fdd835"
                                        d="m68.05 7.23l13.46 30.7a7.047 7.047 0 0 0 5.82 4.19l32.79 2.94c3.71.54 5.19 5.09 2.5 7.71l-24.7 20.75c-2 1.68-2.91 4.32-2.36 6.87l7.18 33.61c.63 3.69-3.24 6.51-6.56 4.76L67.56 102a7.033 7.033 0 0 0-7.12 0l-28.62 16.75c-3.31 1.74-7.19-1.07-6.56-4.76l7.18-33.61c.54-2.55-.36-5.19-2.36-6.87L5.37 52.78c-2.68-2.61-1.2-7.17 2.5-7.71l32.79-2.94a7.047 7.047 0 0 0 5.82-4.19l13.46-30.7c1.67-3.36 6.45-3.36 8.11-.01" />
                                    <path fill="#ffff8d"
                                        d="m67.07 39.77l-2.28-22.62c-.09-1.26-.35-3.42 1.67-3.42c1.6 0 2.47 3.33 2.47 3.33l6.84 18.16c2.58 6.91 1.52 9.28-.97 10.68c-2.86 1.6-7.08.35-7.73-6.13" />
                                    <path fill="#f4b400"
                                        d="M95.28 71.51L114.9 56.2c.97-.81 2.72-2.1 1.32-3.57c-1.11-1.16-4.11.51-4.11.51l-17.17 6.71c-5.12 1.77-8.52 4.39-8.82 7.69c-.39 4.4 3.56 7.79 9.16 3.97" />
                                </svg>
                            </div>


                            <div class="star-div">
                                <svg xmlns="http://www.w3.org/2000/svg" width="em" height="em" viewBox="0 0 128 128">
                                    <path fill="#fdd835"
                                        d="m68.05 7.23l13.46 30.7a7.047 7.047 0 0 0 5.82 4.19l32.79 2.94c3.71.54 5.19 5.09 2.5 7.71l-24.7 20.75c-2 1.68-2.91 4.32-2.36 6.87l7.18 33.61c.63 3.69-3.24 6.51-6.56 4.76L67.56 102a7.033 7.033 0 0 0-7.12 0l-28.62 16.75c-3.31 1.74-7.19-1.07-6.56-4.76l7.18-33.61c.54-2.55-.36-5.19-2.36-6.87L5.37 52.78c-2.68-2.61-1.2-7.17 2.5-7.71l32.79-2.94a7.047 7.047 0 0 0 5.82-4.19l13.46-30.7c1.67-3.36 6.45-3.36 8.11-.01" />
                                    <path fill="#ffff8d"
                                        d="m67.07 39.77l-2.28-22.62c-.09-1.26-.35-3.42 1.67-3.42c1.6 0 2.47 3.33 2.47 3.33l6.84 18.16c2.58 6.91 1.52 9.28-.97 10.68c-2.86 1.6-7.08.35-7.73-6.13" />
                                    <path fill="#f4b400"
                                        d="M95.28 71.51L114.9 56.2c.97-.81 2.72-2.1 1.32-3.57c-1.11-1.16-4.11.51-4.11.51l-17.17 6.71c-5.12 1.77-8.52 4.39-8.82 7.69c-.39 4.4 3.56 7.79 9.16 3.97" />
                                </svg>
                            </div>


                        </div>

                        <p class="reg-20">5.00</p>
                    </div>

                    <div class="free-button-div">
                        <button mat-raised-button class="free-button">$25</button>
                    </div>


                    <!-- detail div -->
                    <!-- <div class="details-divs">
                        <div>
                            <p class="detail-heading">Item ID: </p>
                            <p class="detail-heading-2">2009</p>
                        </div>
                        <div>
                            <p class="detail-heading">Category: </p>
                            <p class="detail-heading-2">Lifestyle</p>
                        </div>
                        <div>
                            <p class="detail-heading">Duration:</p>
                            <p class="detail-heading-2"> 3:30 Hrs</p>
                        </div>
                        <div>
                            <p class="detail-heading">Files:</p>
                            <p class="detail-heading-2">14</p>
                        </div>
                        <div>
                            <p class="detail-heading">Downloadable:</p>
                            <p class="detail-heading-2">Yes</p>
                        </div>
                        <div>
                            <p class="detail-heading">Sales:</p>
                            <p class="detail-heading-2">4 (0)</p>
                        </div>
                    </div> -->

                    <div class="details-divs">
                        <div>
                            <p class="detail-heading">Item ID: </p>
                            <p class="detail-heading-2">5</p>
                        </div>
                        <div>
                            <p class="detail-heading">Category: </p>
                            <p class="detail-heading-2">E-Book</p>
                        </div>
                        <div>
                            <p class="detail-heading">Type:</p>
                            <p class="detail-heading-2">Virtual</p>
                        </div>
                        <div>
                            <p class="detail-heading">Available:</p>
                            <p class="detail-heading-2"> 9</p>
                        </div>
                        <div>
                            <p class="detail-heading">Sales:</p>
                            <p class="detail-heading-2">1 ($13.78)</p>
                        </div>
                        <div>
                            <p class="detail-heading">Shipping Cost:</p>
                            <p class="detail-heading-2">$5</p>
                        </div>
                        <div>
                            <p class="detail-heading">Waiting Orders:</p>
                            <p class="detail-heading-2">2</p>
                        </div>


                    </div>


                    <!-- detail div close -->
                </div>
            </mat-card-content>

        </mat-card>




    </div>
    <!-- my upcoming courses div close -->


</div>
<!-- myCourses works div close -->


<ng-container *ngIf="isStepper">
    <!-- <app-courses-mycourse-toggle-button></app-courses-mycourse-toggle-button> -->
    <app-product-stepper></app-product-stepper>
</ng-container>