/* ------------------------------------arrow-------------------- */
.main-extra {
    padding: 10px 10px;
}

@media (max-width: 480px) {
    .main-extra {
        margin-bottom: 5rem !important;
    }
}

@media (min-width: 481px) and (max-width: 992px) {
    .main-extra {
        margin-bottom: 3rem !important;
    }
}

.arrow-line {
    width: 100%;
    border-bottom: 2px solid var(--lighpink);
}

.sub-heading-div {
    display: flex;
    position: relative;
    align-items: center;
    /* margin: 20px 0 20px 0; */
}

.aroowline {
    position: absolute;
    top: 5px;
    left: 56px;
    font-size: 10px;
    color: var(--lighpink);
}


.sub-heading {
    font-size: 20px;
    text-wrap: nowrap;
    font-weight: 600;
    margin-right: 10px;
}

/* cek box css start */
.setting-box {
    box-shadow: 2px 2px 2px 2px var(--grey);
    padding: 20px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input {
    padding: 16px 10px;
    border: 1px solid var(--grey);
    border-radius: 10px;
    width: 40%;
}

.map {
    margin: 1.5rem 0rem;
}

/* form */

.map-border {
    width: 97%;

}

.map-form {
    box-shadow: 2px 2px 2px 2px var(--grey);
    padding: 20px 20px;
    border-radius: 10px;
}

.outer-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.in-form-row {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 70%;
}

.inner-from-2 {
    display: flex;
    gap: 50px;
}

.form-input-label {
    font-size: 16px;
    font-weight: 500;
}

::ng-deep .mat-mdc-select-value {
    width: 88% !important;

}

::ng-deep .mdc-notched-outline {
    width: 90% !important;

}

.input-head-text {
    font-size: 16px;
    font-weight: 500;
}

.input-and-button-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.in-form-row-file {
    width: 35%;
    border: 2px solid var(--grey);
    position: relative;
}

.linkfile {
    background-color: var(--blue) !important;
    font-size: 23px;
    color: var(--white);
    width: 25px;
    height: 25px;
    padding: 10px 14px 10px 18px;
}

::ng-deep .mat-typography p {
    margin: 0 0 2px !important;
}


.select_in {
    border: 1px solid var(--grey);
    background-color: #EEEEEE;
    padding: 10px 10px;
    border-radius: 4px;
}

.Biography-input-div-2 {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 80% !important;
}

.Biography-input-div-2 input {
    width: 80% !important;
}

.Biography-form-input {
    font-size: 16px;
    font-weight: 500;

}

.form-content-label {
    font-size: medium !important;
    display: block;
    color: var(--grey);
}


@media screen and (max-width:500px) {

    .in-form-row {

        width: 100% !important;
    }

    .Biography-input-div-2 {
        width: 100% !important;
    }

    .inner-from-2 {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .input {
        width: 100%;

        padding: 16px 0px;

    }


}

.ageInput {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-space {
    padding: 0px 10px;
}

.btnMain {
    margin: 10px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.btn-container {
    margin-top: 10px;
    display: flex;
    gap: 8px;
}

.pink-btn {
    background: #FF3389;
    color: white;

}

.red-btn {
    padding: 0px 12px;
    background: #FF0000;
    color: white;

}

.green-btn {
    background: #00CF70;
    color: white;

}