<!-- massage to reviewer works div -->
<div>
    <div class="sub-heading-div">
        <p class="sub-heading med-16">Message to reviewer</p>
        <mat-icon class="aroowline">play_arrow</mat-icon>
        <p class="arrow-line"></p>
    </div>


    <div class="larg-input-div  new-form">
        
        <textarea name="" id="" cols="30" rows="10" class="text-area  mat-input-class  " matInput
            placeholder="Thank you."></textarea>
    </div>  

</div>
<!-- massage to reviewer works div close -->
