    <!-- meeting popup code starts -->
    <div class="centerpartdiv"
    id="showadd">
    <div class="confirmdelete">
        <!-- pop up div -->
        <div class="upperpart">
            <div class="spandiv">
                <!-- <span class="deletespan">Edit comment</span> -->
            </div>
        </div>
        <!-- p div -->
        <div class="parapart">
            <img src="assets/notification/error.png" alt="">
            <p class="sure">Are you sure?</p>
            <div class="parasecond">
                <span></span>
                <span></span>
            </div>
            <div class="doyoupart">
                <span>This action cannot be undone!</span>
            </div>
        </div>
        <div class="buttondiv">
            <button mat-raised-button (click)="deletesucesspopup()">Delete</button>
            <button mat-raised-button mat-dialog-close>close</button>


        </div>
    </div>
</div>



