p {
    margin: 0px;
}

.charge span {
    color: #000;
    font-size: 30px;
    font-weight: 700;
    font-family: 'poppins';
    border-bottom: 2px solid var(--primary-color) !important;
    padding-bottom: 10px;

}

.charge {
    margin-top: 10px;
    margin-bottom: 40px;
    margin-left: 10px;
}

/*sub heading style start*/
.sub-heading-div {
    display: flex;
    position: relative;
    align-items: center;
    margin: 20px 10px 10px 10px;
}

.sub-heading {
    font-size: 20px;
    text-wrap: nowrap;
    margin-right: 10px;
    font-weight: 600;
}

.fa-solid {
    position: absolute;
    top: 24px;
    left: 165px;
    font-size: 18px;
    color: var(--lighpink);
}

.arrow-line {
    width: 100%;
    border-bottom: 2px solid var(--lighpink);
}

/*sub heading style end*/


/* mat cards  css start */
.main-div {
    margin: 10px;
    overflow-x: hidden
}

.img-div {
    position: relative;
    width: fit-content;
}

.heading-tag {
    font-size: 30px;
    font-weight: bold;
}

.hr-line {
    width: 160px;
    border: 1px solid var(--primary-color);
}

.arrow-line {
    width: 100%;
    border-bottom: 2px solid var(--lighpink);
}

.sub-heading-div {
    display: flex;
    position: relative;
    align-items: center;
}

.fa-solid {
    position: absolute;
    top: 5px;
    left: 160px;
    font-size: 10px;
    color: var(--lighpink);
}

.sub-heading {
    font-size: 20px;
    text-wrap: nowrap;
    margin-right: 10px;
}

.courses-mat-card-div {
    display: flex !important;
    flex-direction: row !important;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px !important;
    margin: 10px 0 10px 0;
    padding: 10px 10px !important;
    align-items: center;
}


.hedaing-and-button {
    display: flex;
    align-items: center !important;
    /* padding-top: 20px !important; */
}

.hedaing-and-button-and-icon {
    display: flex;
    justify-content: space-between;
    padding-top: 20px !important;
}

.card-heading {
    font-size: 18px;
    color: var(--blue);
    font-weight: 600;
    margin-left: 10px;


}

.star_div {
    color: var(--yellow);
    margin-right: 5px;
}

.star-btn {
    display: flex;
    /* align-items: center; */
    padding-left: 10px;
    align-items: center;
    /* justify-content: center; */
    gap: 10px;
}

.num-btn {
    /* background-color: var( --lightgreen); */
    /* margin-top: 2px; */
    border-radius: 4px;
    padding: 2px;
    font-size: 20px;
    font-weight: 600;
    /* color:var(--white); */
}

.btn-popup:hover {
    color: var(--primary-color);
}

.dolar-purchase {
    font-size: 22px;
    padding: 0px 10px;
    color: var(--lightgreen);
    font-weight: 600;
    border-radius: 10px;
    margin-left: 10px;
    background-color: #C4F4DE;
    display: inline;

}

.absolut_2-course {
    position: absolute;
    top: -5px;
    left: -5px;
    background-color: var(--darkbl);
    padding: 4px 18px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color: var(--white);
    font-size: 18px;
}

.absolut_2-course-2 {
    position: absolute;
    top: -5px;
    left: -5px;
    background-color: var(--lightgreen);
    padding: 4px 18px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color: var(--white);
    font-size: 18px;
}

@media screen and (min-width: 900px) {
    .courses-mat-card-div {
        display: flex !important;
        flex-direction: column;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px !important;
        justify-content: space-between;
    }

}

@media (min-width: 320px) and (max-width: 900px) {
    .courses-mat-card-div {
        display: flex !important;
        flex-direction: column !important;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px !important;
    }

    .hedaing-and-button {
        display: flex;
        flex-wrap: wrap;
        gap: 4px;
        margin-bottom: 6px;
    }

    .star-btn {
        display: flex;
        justify-content: start;
        align-items: center;
    }

}

@media screen and (min-width: 900px) {
    .card-heading {
        font-size: 22px;
        color: var(--blue);
    }
}

.card-button {
    color: var(--primary-color) !important;
    border: 1px solid var(--primary-color);
    font-size: 17px !important;
    padding: 0 30px 0 30px !important;
    margin-left: 10px;
    text-wrap: nowrap;
}

.card-button-gift {
    color: var(--blue) !important;
    border: 1px solid var(--blue);
    font-size: 17px !important;
    padding: 0 30px 0 30px !important;
    margin-left: 10px;
    text-wrap: nowrap;
}

.card-button-live {
    color: var(--primary-color) !important;
    border: 1px solid var(--primary-color);
    font-size: 17px !important;
    /* padding: 0 5px 0 5px !important; */
    margin-left: 10px;
    text-wrap: nowrap;
}

.details-divs {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 20px;
    width: -webkit-fill-available;
    justify-content: space-between;
}

@media (max-width: 369px) {
    .details-divs {
        grid-template-columns: auto auto;
    }
}

.cource-mat-card-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
}

@media screen and (max-width: 900px) {
    .cource-mat-card-content {
        align-items: center;
        justify-content: center !important;
    }
}

.detail-heading {
    font-size: 16px;
    font-weight: 400;
    color: var(--grey-sec);
    margin: 10px;
}

.detail-heading-2 {
    font-size: 16px;
    font-weight: 400;
    margin: 10px;
}

.icon_star_mar svg {
    color: var(--yellow);
}

/* mat cards css  end */
.mat-card,
.mdc-card {
    background-color: var(--white) !important;
}