<div class="main-zoom">

    <!-- sub hedaing  -->
    <div class="sub-heading-div">
        <p class="sub-heading">Zoom API</p>
        <i class="aroowline  fa-solid fa-caret-right"></i>
        <p class="arrow-line"></p>
    </div>


    <div class="form-input">
        <!-- zoom client id -->
        <div class="Biography-input-div-2">
            <mat-label class="Biography-form-input">Zoom Client ID</mat-label>

            <input matInput placeholder="x1u5-C4FSdGsqweFlMGO7A" class="inputs">
            <mat-label class="input-footer-text">How to get Zoom Client ID</mat-label>
        </div>
        <!-- Zoom Client Secret -->
        <div class="Biography-input-div-2">
            <mat-label class="Biography-form-input">Zoom Client Secret</mat-label>

            <input matInput placeholder="AOtbi0nkg9ThD1DtlNUlQB9C8cV670eGzqQR" class="inputs">
            <mat-label class="input-footer-text">How to get Zoom Client Secret</mat-label>
        </div>
        <!-- Zoom Account ID -->
        <div class="Biography-input-div-2">
            <mat-label class="Biography-form-input">Zoom Account ID</mat-label>

            <input matInput class="inputs">
            <mat-label class="input-footer-text">How to get Zoom Account ID</mat-label>
        </div>
    </div>


    <!-- Buttons -->

    <div class="btnMain">

        <div class="btn-container">
            <button mat-raised-button class="pink-btn dull">Previous</button>
            <button mat-raised-button class="pink-btn">Next</button>
        </div>


        <div class="btn-container">
            <button mat-raised-button class="red-btn" (click)="DeleteAccount()">Delete Account</button>
            <button mat-raised-button class="green-btn" (click)="close()">Save</button>
        </div>

    </div>

</div>