<div class="carddiv">
  <mat-card>
    <mat-card-content>
      <!-- card content -->
      <div class="result-statistics">
        <div class="my-quizzer-heading-div">
          <p class="med-16">Message to reviewer</p>

          <div class="quizzers-arrow-line-div">
            <mat-icon class="mat-18 quizzers-arrow-icon">play_arrow</mat-icon>
            <p class="quizzers-pink-line "></p>
          </div>
        </div>

      </div>

      <!-- textarea div -->
      <div class="textareadiv">
        <textarea>Thank you.
              
            
            </textarea>
      </div>
      <div class="result-statistics">
        <div class="my-quizzer-heading-div">
          <p class="reg-16">I agree with terms & rules.</p>

          <div class="quizzers-arrow-line-div">
            <mat-icon class="mat-18 quizzers-arrow-icon">play_arrow</mat-icon>
            <p class="quizzers-pink-line "></p>
            <div class="toogle">
              <mat-slide-toggle></mat-slide-toggle>
            </div>
          </div>
        </div>

      </div>


    </mat-card-content>
  </mat-card>

</div>