<!-- Success popup page -->

<div class="centerpartdiv" id="showadd">
    <div class="confirmdelete">
      <!-- pop up div -->
      <div class="upperpart">
        <div class="spandiv">
          <!-- <span class="deletespan">Confirm delete</span> -->
        </div>
      </div>
      <!-- p div -->
      <div class="parapart">
        <img
          src="../../../../assets/BasicInfoPopup/success.png"
          alt=""
        />
        <!-- <p>Success</p> -->
        <div class="parasecond">
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="buttondiv">
        <p>Item added successfully!</p>
      </div>
    </div>
  </div>