<div class="popupdiv">
    <div class="main-div">
        <div class="head"> </div>
        <div class="body">
            <img src="assets/Meetingimg/error.png" alt="error.png">
            <p class="text-1">Do you want to finish meeting?</p>
            <p class="text-2">This action cannot be undone!
            </p>
        </div>
        <div class="buttons-div">
            <button  mat-dialog-close class="pop-closeBtn">Yes, finish it!</button>
            <button mat-raised-button mat-dialog-close class="yesBtn">Close</button>
    
        </div>
    </div>
</div>