    <!-- meeting popup code starts -->
    <div class="centerpartdiv"
    id="showadd">
    <div class="confirmdelete">
        <!-- pop up div -->
        <div class="upperpart">
            <div class="spandiv">
                <!-- <span class="deletespan">New education</span> -->
            </div>
        </div>
        <!-- p div -->
        <div class="parapart">
            <img src="assets/instructor/error.png" alt="">
            <p class="sure">Are you sure?</p>
            <p class="sure2">This action cannot be undone!</p>
        </div>
        <div class="buttondiv">
            <button mat-raised-button (click)="openPopup_new()">Delete</button>
            <button mat-raised-button (click)="openPopup_new1()">close</button>


        </div>
    </div>
</div>



