<!-- requests div -->
<div class="My-Up-Coming-Courses">


    <!-- <div>
        <p class="heading-tag">Meetings</p>
        <p class="hr-line"></p>
    </div> -->

    <div class="sub-heading-div">
        <p class="sub-heading">Final Quiz</p>
    </div>
    <p class="sub_heading">Learn Linux in 5 Days | By Robert Ransdell</p>

    <!-- mat cards   -->
    <div class="mat-card-div">
        <mat-card class="support-card-border">
            <mat-card-content class="support-contaent-div">
                <div class="icon-img-div">
                    <img src="assets/quizzes/q1.png" class="suppoet-icon-envelop" alt="image 143.png">
                    <!-- <i   fa-solid fa-envelope-open-text"></i> -->
                    <img src="assets/quizzes/Group 340235.png" class="suppoet-img" alt="Group 340235.png">
                </div>
                <div>
                    <p class="text-1">1</p>
                    <p class="text-2">Need review </p>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="support-card-border">
            <mat-card-content class="support-contaent-div">
                <div class="icon-img-div">
                    <img src="assets/quizzes/q2.png" class="suppoet-icon-envelop" alt="image 144.png">
                    <img src="assets/quizzes/Group 340235.png" class="suppoet-img" alt="Group 340235.png">
                </div>
                <div>
                    <p class="text-1">4</p>
                    <p class="text-2">Results</p>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="support-card-border">
            <mat-card-content class="support-contaent-div">
                <div class="icon-img-div">
                    <img src="assets/quizzes/q3.png" class="suppoet-icon-envelop" alt="image 145.png">
                    <img src="assets/quizzes/Group 340235.png" class="suppoet-img" alt="Group 340235.png">
                </div>
                <div>
                    <p class="text-1">72.5</p>
                    <p class="text-2">Average Grade </p>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="support-card-border">
            <mat-card-content class="support-contaent-div">
                <div class="icon-img-div">
                    <img src="assets/quizzes/q4.png" class="suppoet-icon-envelop" alt="image 145.png">
                    <img src="assets/quizzes/Group 340235.png" class="suppoet-img" alt="Group 340235.png">
                </div>
                <div>
                    <p class="text-1">50%</p>
                    <p class="text-2">Success rate</p>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- mat cards close -->

</div>
<div class="result_review">
    <div class="result_detail">
        <div>
            <p>Please explain about Ubuntu versions of Linux??</p>
            <span>Question grade : 20 | Your grade : 20</span>
        </div>
        <div>
            <p class="resu_para">1/5</p>
        </div>
    </div>
    <div class="result_student">
        <p class="stu_main">Student answer</p>
        <div class="main_result">
            <p>Ubuntu is a Linux distribution based on Debian and composed mostly of free and open-source software.
                Ubuntu is officially released in three editions: Desktop, Server, and Core for Internet of things
                devices and robots. All the editions can run on the computer alone, or in a virtual machine.</p>
        </div>
    </div>
    <div class="result_answer">
        <p class="stu_main">Correct answer</p>
        <div class="main_answer">
            <p>Ubuntu is probably the most well-known Linux distribution. Ubuntu is based on Debian, but it has its own
                software repositories. Much of the software in these repositories is synced from Debian’s
                repositories.<br><br>

                The Ubuntu project has a focus on providing a solid desktop (and server) experience, and it isn’t afraid
                to build its own custom technology to do it. Ubuntu used to use the GNOME 2 desktop environment, but it
                now uses its own Unity desktop environment. Ubuntu is even building its own Mir graphical server while
                other distributions are working on the Wayland.</p>
        </div>
    </div>

        <div class="in-form-row">
            <mat-label class="form-input-label">Grade</mat-label><br />

            <div class="calendar-input-field">

                <mat-form-field appearance="outline" class="form-field">

                    <input matInput class="input" type="email">

                </mat-form-field>

            </div>

        </div>
        <div class="button-div">
            <div class="first_btn">
            <button mat-raised-button class="show-result-button">Previous Question</button>
            <button mat-raised-button class="show-result-button">Next Question</button>
           </div>
            <div class="second_btn">
            <button mat-raised-button class="show-result-button">Finish</button>
        </div>
        </div>
</div>
<!-- requests div close -->