<div class="page-container-div">

    <!-- <p class="my-result-heading">Certificates</p> -->


    <!-- Result Statistics -->
    <div class="result-statistics-div">
        <div class="result-statistics">
            <div class="my-quizzer-heading-div">
                <p>Certificates statistics</p>

                <div class="quizzers-arrow-line-div">
                    <mat-icon class="mat-18 quizzers-arrow-icon">play_arrow</mat-icon>
                    <p class="quizzers-pink-line "></p>
                </div>
            </div>
        </div>
    </div>


    <div class="mat-card-div">

        <!-- First Card -->
        <mat-card>

            <div class="card-top">

                <div>
                    <img src="assets/Certificates/image 143 (1).png" alt="">
                </div>

                <div>
                    <img src="assets/Certificates/Group 340237.png" alt="">
                </div>

            </div>

            <div class="card-down">

                <p class="card-medium">3</p>

                <p class="card-bottom">Active Certificates</p>

            </div>

        </mat-card>


        <!-- Second Card -->
        <mat-card>

            <div class="card-top">

                <div>
                    <img src="assets/Certificates/image 144 (4).png" alt="">
                </div>

                <div>
                    <img src="assets/Certificates/Group 340237.png" alt="">
                </div>

            </div>

            <div class="card-down">

                <p class="card-medium">2</p>

                <p class="card-bottom">Students Achievements</p>

            </div>

        </mat-card>


        <!-- Third Card -->
        <mat-card>

            <div class="card-top">

                <div>
                    <img src="assets/Certificates/image 145 (1).png" alt="">
                </div>

                <div>
                    <img src="assets/Certificates/Group 340237.png" alt="">
                </div>

            </div>

            <div class="card-down">

                <p class="card-medium">1</p>

                <p class="card-bottom">Failed Students</p>

            </div>

        </mat-card>

        <!-- Fourth Card -->
        <mat-card>

            <div class="card-top">

                <div>
                    <img src="assets/Certificates/image 144 (1).png" alt="">
                </div>

                <div>
                    <img src="assets/Certificates/Group 340237.png" alt="">
                </div>

            </div>

            <div class="card-down">

                <p class="card-medium">85</p>

                <p class="card-bottom">Average Grade</p>

            </div>

        </mat-card>

    </div>




    <!-- Filter Results -->
    <div class="result-statistics-div">
        <div class="result-statistics">
            <div class="my-quizzer-heading-div">
                <p>Filter Certificates</p>

                <div class="quizzers-arrow-line-div">
                    <mat-icon class="mat-18 quizzers-arrow-icon">play_arrow</mat-icon>
                    <p class="quizzers-pink-line m0"></p>
                </div>
            </div>

        </div>
    </div>



    <div class="form-div">

        <div class="form-row">

            <div class="in-form-row">
                <mat-label class="form-input-label">From </mat-label><br />

                <div class="calendar-input-field">

                    <mat-form-field appearance="outline" class="form-field">
                        <img src="assets/instructor/Group 340247.png" alt="" class="calendar-img">

                        <input matInput class="input">

                    </mat-form-field>

                </div>

            </div>

            <div class="in-form-row">
                <mat-label class="form-input-label">To</mat-label><br />

                <div class="calendar-input-field">

                    <mat-form-field appearance="outline" class="form-field">
                        <img src="assets/instructor/Group 340247.png" alt="" class="calendar-img">

                        <input matInput class="input">

                    </mat-form-field>

                </div>

            </div>
            <div class="in-form-row">
                <mat-label class="form-input-label">course</mat-label><br />
                <div class="mt2">
                    <mat-form-field appearance="outline" class="form-field">
                        <mat-select class="select_in">
                            <mat-option value="All">All</mat-option>
                            <mat-option value="green">Green</mat-option>
                            <mat-option value="blue">Blue</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>


        </div>


        <div class="form-row">

            <div class="in-form-row">
                <mat-label class="form-input-label">Quiz</mat-label><br />

                <div class="calendar-input-field">

                    <mat-form-field appearance="outline" class="form-field form-field-quiz">

                        <input matInput class="input" placeholder="All Quizzes">

                    </mat-form-field>

                </div>

            </div>
            <div class="in-form-row">
                <mat-label class="form-input-label">Grade</mat-label><br />

                <div class="calendar-input-field">

                    <mat-form-field appearance="outline" class="form-field">

                        <input matInput class="input">

                    </mat-form-field>

                </div>

            </div>

            <div class="in-form-row button-div">
                <button mat-raised-button class="show-result-button">Show Results</button>
            </div>
        </div>



    </div>


    <!-- My quizzes -->
    <div class="result-statistics-div">
        <div class="result-statistics">
            <div class="my-quizzer-heading-div">
                <p>Active certificates</p>

                <div class="quizzers-arrow-line-div">
                    <mat-icon class="mat-18 quizzers-arrow-icon">play_arrow</mat-icon>
                    <p class="quizzers-pink-line m0"></p>
                </div>
            </div>

        </div>
    </div>

    <div class="quizzer-table-div">

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">


            <!-- Quiz Column -->
            <ng-container matColumnDef="Quiz">
                <th mat-header-cell *matHeaderCellDef class="text-white"> Quiz </th>
                <td mat-cell *matCellDef="let element" class="reg-12">
                    <div class="td-text-div">
                        <p class="td-text-p1"> {{element.Quiz.text}}</p>
                        <p class="td-text-p2"> {{element.Quiz.Text}}</p>
                    </div>
                </td>
            </ng-container>

            <!--Description Column -->
            <ng-container matColumnDef="Grade">
                <th mat-header-cell *matHeaderCellDef class="text-white"> Grade </th>
                <td mat-cell *matCellDef="let element" class="reg-12"> {{element.Grade}} </td>
            </ng-container>

            <!--Amount Column -->
            <ng-container matColumnDef="Average">
                <th mat-header-cell *matHeaderCellDef class="text-white">Average ($) </th>

                <td mat-cell *matCellDef="let element" class="reg-12">
                    <div>
                        {{element.Average}}
                    </div>
                </td>

            </ng-container>

            <!-- creator Column -->
            <ng-container matColumnDef="Generatedcertificates">
                <th mat-header-cell *matHeaderCellDef class="text-white"> Generated certificates </th>
                <td mat-cell *matCellDef="let element" class="reg-12">


                    <p>{{element.Generatedcertificates}} </p>
                    <!-- <p class="td-text-p2">{{element.creator.Text}} </p> -->


                </td>
            </ng-container>

            <!-- Date Column -->
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef class="text-white">Payment Date </th>
                <td mat-cell *matCellDef="let element" class="reg-12">
                    <div class="quizzer-date-td">
                        <span> {{element.date}}</span>

                    </div>

                </td>
            </ng-container>



            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

    </div>

</div>