<!-- myupcomingcourses works div  -->
<div class="My-Up-Coming-Courses">


    <div>
        <p class="heading-tag">Upcoming Courses</p>
        <p class="hr-line"></p>
    </div>

    <div class="my-quizzer-heading-div">
        <p class="med-16">Following Courses</p>

        <div class="quizzers-arrow-line-div">
            <mat-icon class="mat-18 quizzers-arrow-icon">play_arrow</mat-icon>
            <p class="quizzers-pink-line m0"></p>
        </div>
    </div>



    <!-- my upcoming courses div  -->
  
        <mat-card>
            <mat-card-content class="courses-mat-card-div">
                <div class="img-div">
                    <img src="assets/upcomingcourses/Rectangle 4569.png" alt="Rectangle 4569.png">
                </div>
                <div class="cource-mat-card-content">
                    <div class="hedaing-and-button">
                        <div class="hedaing-and-button-btn-and-live">
                            <p class="card-heading">Python for Beginners</p>
                            <button mat-button class="card-button">Live class</button>
                        </div>

                  


                    </div>
                    <!-- detail div -->
                    <div class="details-divs">
                        <div>
                            <p class="detail-heading">Item ID: </p>
                            <p class="detail-heading-2">3</p>
                        </div>
                        <div>
                            <p class="detail-heading">Category: </p>
                            <p class="detail-heading-2">Web Development </p>
                        </div>
                        <div>
                            <p class="detail-heading">Next session duration:</p>
                            <p class="detail-heading-2"> 1:00 Hrs</p>
                        </div>
                        <div>
                            <p class="detail-heading">Estimated Publish Date:</p>
                            <p class="detail-heading-2"> 15 Mar 2023 00:00</p>
                        </div>
                        <div>
                            <p class="detail-heading">Price:</p>
                            <p class="detail-heading-2"> $100</p>
                        </div>
                    </div>
                    <!-- detail div close -->
                </div>
            </mat-card-content>

        </mat-card>
  
    <!-- my upcoming courses div close -->


</div>
<!-- myupcomingcourses works div close -->