.main-new-topic {
  padding: 10px;
}

/* <!-- main heading css start --> */

.my-result-heading {
  font-size: 30px;
  font-weight: 500;
  border-bottom: 1px solid var(--primary-color);
  text-wrap: nowrap;
  width: 8%;
  padding-bottom: 20px;
}



.result-statistics-div {
  padding: 12px 20px;
  /* border-top: 1px solid var(--primary-color); */
  position: relative;
}

.result-statistics {
  font-size: 20px;
  font-weight: 500;
  background-color: var(--white);
  display: flex !important;
  flex-direction: row;
  align-items: center !important;
  width: 100%;
  /* justify-content: center; */
  gap: 10px;
  text-wrap: nowrap;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}


@media (max-width: 500px) {

  ::ng-deep .result-statistics-div {
    display: flex;
    flex-direction: column;
    gap: 80px;
    position: relative;
  }

  .result-statistics {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    position: absolute;
  }
}

.my-quizzer-heading-div {
  display: flex;
  align-items: center;
  width: 100%;
}

.result-statistics p {
  margin: 0;
}

.quizzers-arrow-line-div {
  display: flex;
  align-items: center;
  gap: -1;
  width: 100%;
}

.quizzers-arrow-icon {
  color: var(--primary-color);
  font-size: 15px;
  width: fit-content;
  height: 100% !important;
}

.quizzers-pink-line {
  border: 1px solid var(--primary-color);
  width: 100%;
  opacity: 40%;
  padding: 0 !important;
  margin: 0 !important;


}

/* form css start */

.form-div-parent {
  box-shadow: 0px 0px 5px 0px var(--grey);
  margin-top: 20px;
  border-radius: 10px;
  padding: 20px;
}

.form-div {
  display: flex;
  flex-direction: column;
  /* width: 30%; */

  gap: 20px;

}

.form-input-label {
  font-size: 16px;
  font-weight: 500;
}

.calendar-input-field {
  display: flex;
  height: fit-content !important;
  width: 100% !important;
}

.in-form-row {
  width: 100%;

}

.form-field {
  width: 100% !important;
  height: fit-content;
  border: var(--grey);
}

.in-form-row {
  width: 80%;
}

.select_in {
  padding: 0px 10px;
}

/* .form-row {
    width: 100% !important;
    display: flex !important;
    flex-direction: row;
    gap: 10px;
  } */
.input-sign {
  background-color: var(--lightgreen);
  padding: 10px 20px;
  margin-bottom: 0px;
  color: white;

}

.text-editar {
  box-shadow: 2px 2px 2px 2px var(--grey);
  border-radius: 10px;
  width: 85%;

}

.form-field .arow-sign {
  color: var(--white);
}

.arow-sign {
  background-color: var(--blue);
  padding: 10px 20px;
  margin-bottom: 0px;
  color: white !important;
  border-radius: 4px;
}

.form-field .input {
  border-radius: 40px !important;
}

@media (max-width: 700px) {
  .in-form-row {
    width: 60%;
  }

}

@media (min-width:320px) and (max-width: 500px) {

  .in-form-row,
  .text-editar {
    width: 100%;
  }

}

.btn-notice button {
  background-color: var(--primary-color);
  color: var(--white);
  padding: 20px 20px;
  font-size: 16px;
  margin-top: 10px;
}


::ng-deep .calendar-input-field .mat-mdc-form-field-infix {
  display: flex !important;
  flex-direction: row !important;
  gap: 10px;
  padding: 0 !important;
  width: 100% !important;
}

::ng-deep .calendar-input-field .mdc-text-field {
  padding: 0 !important;
}

::ng-deep .calendar-input-field {
  width: 100% !important;
}

::ng-deep .mat-mdc-text-field-wrapper {
  width: 100% !important;
}

::ng-deep .form-field {
  width: 100% !important;
}

.page-container-div {
  margin: 30px 0px !important;
}

.main-new-topic {
  margin: 20px 10px;
}

@media (max-width: 480px) {
  .main-new-topic {
    margin-bottom: 5rem;
  }
}