<div class="specificationContainer">

    <div>
    <!-- Heading -->
    <div class="heading">
        <h3>Specifications</h3>
        <!-- line -->
        <div class="line">
            <span><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 20 20">
                    <g fill="currentColor" fill-rule="evenodd" clip-rule="evenodd">
                        <path
                            d="M15.499 9.134a1 1 0 0 1 0 1.732l-10 5.769A1 1 0 0 1 4 15.769V4.23a1 1 0 0 1 1.5-.866z" />
                        <path
                            d="M5.5 16.635a1 1 0 0 1-1.5-.866V4.23a1 1 0 0 1 1.5-.866l9.999 5.769a1 1 0 0 1 0 1.732zM10.997 10L7 7.694v4.612z" />
                    </g>
                </svg></span>
        </div>
    </div>

    <!-- Specifications -->

    <div class="specification">
        <!-- <button mat-button >New Specification</button> -->
        <button mat-raised-button>New Specification</button>
        <mat-card>
            <img mat-card-image src="../../../../assets/store/Group 340861.png">
       
        <mat-card-title>No specifications!</mat-card-title>
        <mat-card-content>You can define different specifications for the product.</mat-card-content>
 </mat-card>
    </div>
</div>
   

<div>
    <!-- Heading -->
    <div class="heading">
        <h3>FAQ</h3>
        <!-- line -->
        <div class="line">
            <span><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 20 20">
                    <g fill="currentColor" fill-rule="evenodd" clip-rule="evenodd">
                        <path
                            d="M15.499 9.134a1 1 0 0 1 0 1.732l-10 5.769A1 1 0 0 1 4 15.769V4.23a1 1 0 0 1 1.5-.866z" />
                        <path
                            d="M5.5 16.635a1 1 0 0 1-1.5-.866V4.23a1 1 0 0 1 1.5-.866l9.999 5.769a1 1 0 0 1 0 1.732zM10.997 10L7 7.694v4.612z" />
                    </g>
                </svg></span>
        </div>
    </div>

    <!-- Faq -->

    <div class="specification">
        <!-- <button mat-button >New Specification</button> -->
        <button mat-raised-button>New FAQ</button>
        <mat-card>
            <img mat-card-image src="../../../../assets/store/Group 340865.png">
       
        <mat-card-title>No FAQ!</mat-card-title>
        <mat-card-content>Define FAQ for your product and help users.</mat-card-content>
 </mat-card>
    </div>
</div>

<app-allbtn></app-allbtn>


</div>