<div class="main-notification">

    <!-- Notifications -->
    <div class="result-statistics-div">
        <div class="result-statistics">
            <div class="my-quizzer-heading-div">
                <p>Experiences</p>

                <div class="quizzers-arrow-line-div">
                    <mat-icon class="mat-18 quizzers-arrow-icon">play_arrow</mat-icon>
                    <p class="quizzers-pink-line m0"></p>
                </div>
            </div>
            <div class="text-with-toggle-div">

                <button class="mark-btn" (click)="addExperience()">Add Experiences</button>

            </div>
        </div>



    </div>

    <div class="card-slider">
        <div class="main-card">
            <!-- card 1 -->
            <mat-card class="card-year  ">
                <mat-card-header>
                    <mat-card-title class="card-year-child  ">supporting proprietary Unix operating systems including
                        AIX, HP-UX, and Solaris.</mat-card-title>
                </mat-card-header>
                <div class="btn-parent">
                    <button mat-button [matMenuTriggerFor]="menu">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.8em" height="1.8em" viewBox="0 0 20 20">
                            <!-- three dot icon start -->
                            <g fill="currentColor">
                                <circle cx="10" cy="15" r="2" />
                                <circle cx="10" cy="10" r="2" />
                                <circle cx="10" cy="5" r="2" />
                            </g>
                            <!-- three dot icon end -->
                        </svg></button>
                    <mat-menu #menu="matMenu">

                        <button mat-menu-item class="btn-3" (click)="editExperiencePopup()">Edit</button>
                        <button mat-menu-item class="btn-3" (click)="DeleteItem()">Delete</button>

                    </mat-menu>
                </div>
            </mat-card>
            <!-- card 2 -->
            <mat-card class="card-year  ">
                <mat-card-header>
                    <mat-card-title class="card-year-child  ">10 years of experience working with Linux
                        systems</mat-card-title>
                </mat-card-header>
                <div class="btn-parent">
                    <button mat-button [matMenuTriggerFor]="menu">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.8em" height="1.8em" viewBox="0 0 20 20">
                            <!-- three dot icon start -->
                            <g fill="currentColor">
                                <circle cx="10" cy="15" r="2" />
                                <circle cx="10" cy="10" r="2" />
                                <circle cx="10" cy="5" r="2" />
                            </g>
                            <!-- three dot icon end -->
                        </svg></button>
                    <mat-menu #menu="matMenu">

                        <button mat-menu-item class="btn-3" (click)="editExperiencePopup()">Edit</button>
                        <button mat-menu-item class="btn-3" (click)="DeleteItem()">Delete</button>

                    </mat-menu>
                </div>
            </mat-card>






        </div>



    </div>

    <!-- Buttons -->

    <div class="btnMain">

        <div class="btn-container">
            <button mat-raised-button class="pink-btn dull">Previous</button>
            <button mat-raised-button class="pink-btn">Next</button>
        </div>


        <div class="btn-container">
            <button mat-raised-button class="red-btn" (click)="DeleteAccount()">Delete Account</button>
            <button mat-raised-button class="green-btn">Save</button>
        </div>

    </div>


</div>