<div class="page-container-div">
    <!--  Filter Students -->
    <div class="result-statistics-div">
        <div class="result-statistics">
            <div class="my-quizzer-heading-div">
                <p>Filter comments</p>

                <div class="quizzers-arrow-line-div">
                    <mat-icon class="mat-18 quizzers-arrow-icon">play_arrow</mat-icon>
                    <p class="quizzers-pink-line m0"></p>
                </div>
            </div>

        </div>
    </div>


    <!-- form div start  -->

    <div class="form-div">

        <div class="form-row">

            <div class="in-form-row">
                <mat-label class="form-input-label">From </mat-label><br />

                <div class="calendar-input-field">

                    <mat-form-field appearance="outline" class="form-field">
                        <img src="assets/notice-board/icon.png" alt="" class="calendar-img">

                        <input matInput class="input">

                    </mat-form-field>

                </div>

            </div>

            <div class="in-form-row">
                <mat-label class="form-input-label">To</mat-label><br />

                <div class="calendar-input-field">

                    <mat-form-field appearance="outline" class="form-field">
                        <img src="assets/notice-board/icon.png" alt="" class="calendar-img">

                        <input matInput class="input">

                    </mat-form-field>

                </div>

            </div>
            <div class="in-form-row">
                <mat-label class="form-input-label">Course</mat-label><br />

                <div class="calendar-input-field">

                    <mat-form-field appearance="outline" class="form-field">

                        <input matInput class="input" type="email">

                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="form-row">

          


            <div class="in-form-row button-div">
                <button mat-raised-button class="show-result-button">Show Results</button>
            </div>
        </div>
    </div>
    <div class="result-statistics-div">
        <div class="result-statistics">
            <div class="my-quizzer-heading-div">
                <p>My comments</p>
    
                <div class="quizzers-arrow-line-div">
                    <mat-icon class="mat-18 quizzers-arrow-icon">play_arrow</mat-icon>
                    <p class="quizzers-pink-line m0"></p>
                </div>
            </div>
    
        </div>
    </div>
</div>

<mat-card class="mat-mdc-card mdc-card outer-instructor">
    <mat-card-content class="mat-mdc-card-content inner-instructor">
        <img src="../assets/notice-board/Group 340923.png" alt="" class="img-course">
        <p class="heading-content-instructor">You don't have any comments!</p>
        <p class="content-instructor">When a student comment on your coursesit will be appeared in this list.</p>
    </mat-card-content>
</mat-card>