<!-- Delete Popup  starts -->



<!-- Delete Popup  Ends -->

<div class="main">
    <!-- toop section -->

    <!-- Heading -->
    <div class="heading">
        <h4>Account</h4>
        <!-- line -->
        <div class="line">
            <span><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 20 20">
                    <g fill="currentColor" fill-rule="evenodd" clip-rule="evenodd">
                        <path
                            d="M15.499 9.134a1 1 0 0 1 0 1.732l-10 5.769A1 1 0 0 1 4 15.769V4.23a1 1 0 0 1 1.5-.866z" />
                        <path
                            d="M5.5 16.635a1 1 0 0 1-1.5-.866V4.23a1 1 0 0 1 1.5-.866l9.999 5.769a1 1 0 0 1 0 1.732zM10.997 10L7 7.694v4.612z" />
                    </g>
                </svg></span>
        </div>
    </div>


    <!-- input field div  -->
    <form action="">
        <div class="main-input-fields-div ">
            <div class="new-form">
                <mat-label class="new-form-label">Email</mat-label>
                <div class="selected-form-field_blank">
                    <input class="mat-input-class" placeholder="instructor@demo.com" matInput>
                </div>
            </div>

            <div class="new-form">
                <mat-label class="new-form-label">Name</mat-label>
                <div class="selected-form-field_blank">
                    <input class="mat-input-class" placeholder="Robert Ransdell" matInput>
                </div>
            </div>

            <div class="new-form">
                <mat-label class="new-form-label">Password</mat-label>
                <div class="selected-form-field_blank">
                    <input type="password" class="mat-input-class" matInput>
                </div>
            </div>

            <div class="new-form">
                <mat-label class="new-form-label">Retype Password</mat-label>
                <div class="selected-form-field_blank">
                    <input type="password" class="mat-input-class" matInput>
                </div>
            </div>

            <div class="new-form">
                <mat-label class="new-form-label">Phone</mat-label>
                <div class="selected-form-field_blank">
                    <input class="mat-input-class" placeholder="+61491170156" matInput>
                </div>
            </div>



            <div class="new-form">
                <mat-label class="new-form-label">Language</mat-label>
                <div class="selected-form-field">
                    <select class="select-input">
                        <option value="">English</option>
                    </select>
                    <span class="dual-down-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                            viewBox="0 0 15 15">
                            <path fill="#808080" d="M7.5 12L0 4h15z" />
                        </svg></span>
                </div>
            </div>


            <div class="new-form">
                <mat-label class="new-form-label">Time Zone</mat-label>
                <div class="selected-form-field">
                    <select class="select-input">
                        <option value="">America/New_York</option>
                    </select>
                    <span class="dual-down-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                            viewBox="0 0 15 15">
                            <path fill="#808080" d="M7.5 12L0 4h15z" />
                        </svg></span>
                </div>
            </div>

            <div class="new-form">
                <mat-label class="new-form-label">Currency</mat-label>
                <div class="selected-form-field">
                    <select class="select-input">
                        <option value="">United States Dollar ($)</option>
                    </select>
                    <span class="dual-down-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                            viewBox="0 0 15 15">
                            <path fill="#808080" d="M7.5 12L0 4h15z" />
                        </svg></span>
                </div>
            </div>


            <!-- Toggles -->
            <div>
                <!-- upper button -->
                <div class="lowerLine">
                    <p>Join email newsletter</p>
                    <!-- line -->
                    <div class="Lowerline">
                        <span><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 20 20">
                                <g fill="currentColor" fill-rule="evenodd" clip-rule="evenodd">
                                    <path
                                        d="M15.499 9.134a1 1 0 0 1 0 1.732l-10 5.769A1 1 0 0 1 4 15.769V4.23a1 1 0 0 1 1.5-.866z" />
                                    <path
                                        d="M5.5 16.635a1 1 0 0 1-1.5-.866V4.23a1 1 0 0 1 1.5-.866l9.999 5.769a1 1 0 0 1 0 1.732zM10.997 10L7 7.694v4.612z" />
                                </g>
                            </svg></span>
                    </div>

                    <mat-slide-toggle></mat-slide-toggle>
                </div>

                <div class="lowerLine">
                    <p>Enable profile messages</p>
                    <!-- line -->
                    <div class="Lowerline">
                        <span><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 20 20">
                                <g fill="currentColor" fill-rule="evenodd" clip-rule="evenodd">
                                    <path
                                        d="M15.499 9.134a1 1 0 0 1 0 1.732l-10 5.769A1 1 0 0 1 4 15.769V4.23a1 1 0 0 1 1.5-.866z" />
                                    <path
                                        d="M5.5 16.635a1 1 0 0 1-1.5-.866V4.23a1 1 0 0 1 1.5-.866l9.999 5.769a1 1 0 0 1 0 1.732zM10.997 10L7 7.694v4.612z" />
                                </g>
                            </svg></span>
                    </div>

                    <mat-slide-toggle></mat-slide-toggle>
                </div>



            </div>

        </div>
    </form>
    <!-- input field div close -->


    <!-- Buttons -->

    <div class="btnMain">

        <div class="btn-container">
            <button mat-raised-button class="pink-btn dull">Previous</button>
            <button mat-raised-button class="pink-btn">Next</button>
        </div>

        <div class="btn-container">
            <button mat-raised-button class="red-btn " (click)="DeleteAccount()">Delete Account</button>
            <button mat-raised-button class="green-btn">Save</button>
        </div>

    </div>


</div>