p {
    padding: 0px !important;
    margin: 0px !important;
}

.pricing-main-div {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem 0rem;
}

.result-statistics {
    font-size: 20px;
    font-weight: 500;
    background-color: var(--white);
    display: flex !important;
    flex-direction: row;
    align-items: center !important;
    width: 100%;
    /* justify-content: center; */
    gap: 10px;
    text-wrap: nowrap;

    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
}

.result-statistics p {
    /* margin */
}

@media (max-width: 500px) {

    .result-statistics {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        /* position: absolute; */
    }
}

.my-quizzer-heading-div {
    display: flex;
    align-items: center;
    width: 100% !important;
}

.quizzers-arrow-line-div {
    display: flex;
    align-items: center;
    /* gap: -1; */
    width: 100% !important;
}

.quizzers-arrow-icon {
    color: var(--lighpink);
    font-size: 15px;
    height: 100% !important;
}

.quizzers-pink-line {
    border: 1px solid var(--lighpink);
    width: 100%;
    opacity: 40%;
    padding: 0 !important;
    margin: 0 !important;
}

.text-with-toggle-div {
    display: flex;
    gap: 8px;

    font-size: 20px;
    font-weight: 400;
    color: var(--grlight);
}

@media (max-width: 500px) {
    .text-with-toggle-div {
        margin-bottom: 10px;
    }
}

.reg-12 {
    font-size: 12px;
    font-weight: 400;
}

.reg-14 {
    font-size: 14px;
    font-weight: 400;
}

.reg-16 {
    font-size: 16px;
    font-weight: 400;
}

.med-12 {
    font-size: 12px;
    font-weight: 500;
}

.med-14 {
    font-size: 14px;
    font-weight: 500;
}

.med-16 {
    font-size: 16px;
    font-weight: 500;
}

.med-20 {
    font-size: 20px;
    font-weight: 500;
}

.med-24 {
    font-size: 24px;
    font-weight: 500;
}

.in-form-row {
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* width: 80%; */
    height: fit-content;
}

@media (min-width: 1061px) {

    .in-form-row-file-2 {
        /* margin-top: 10px !important; */
    }
}

.form-input-label {
    font-size: 16px;
    font-weight: 400;
    text-wrap: nowrap;
}

.calendar-input-field {
    display: flex;
    flex-direction: column;
    height: fit-content !important;
    width: 100% !important;
    gap: 0px;
}

.input {
    border-radius: 5px;
    border: 1px solid var(--grlight);
    padding: 20px 10px;
    width: 100% !important;
    outline: none;
}

/* .input {
    width: 100%;
    border: none;
} */

.text-grey {
    color: var(--grey-sec);
}

.butten-2 {
    margin-top: 10px;
    color: var(--white);
    background-color: var(--primary-color);
    padding: 16px 30px;
    margin-right: 10px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    width: fit-content;
}

.no-pricing-plan-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    box-shadow: 0px 0px 5px 0px var(--grey);
    padding: 2rem 1rem;
}

.buttons-div {
    margin: 20px 0;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (min-width: 900px) {

    .buttons-div {
        margin: 20px 0;
        gap: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}


/* ---------- Expansion Panel ----------- */

.expansion-panel-head {
    display: flex;
    gap: 5px;
    width: 100%;
    padding: 1rem 0rem !important;
}

.expansion-panel-head-text {
    text-wrap: nowrap;
}

.child-expansion-panel-inner-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0.5rem;
}

.grid-div {
    display: grid;
    align-items: center !important;
    grid-template-columns: auto auto auto;
    gap: 2rem !important;
}

@media (max-width: 810px) {

    .grid-div {
        grid-template-columns: auto;
    }
}

@media (min-width:811px) and (max-width:1060px) {
    .grid-div {
        grid-template-columns: auto auto;
    }
}

.form-field {
    width: 100% !important;
    height: fit-content;
    border: var(--grey);
}

::ng-deep .form-field {
    width: 100% !important;
}

.label-radio-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px !important;
}

.label-radio-buttons label {
    margin: 0px !important;
}

.upload-input-div {
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
    border: 1px solid var(--black);
    margin: 0px !important;
    padding: 0px !important;
}

.upload-image-div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue);
    min-width: fit-content;
    padding: 3px 0px;
    margin: 0px !important;
}

.save-button {
    color: var(--white);
    background-color: var(--lightgreen);
    width: fit-content;
    border: none;
    border-radius: 5px;
    padding: 14px 24px;
    box-shadow: 0px 0px 12px 0px var(--grey);
}

.close-button {
    color: var(--white);
    background-color: var(--red);
    width: fit-content;
    border: none;
    border-radius: 5px;
    padding: 14px 24px;
    box-shadow: 0px 0px 12px 0px var(--grey);
}

.buttons-parent-div {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.form-field {
    width: 100% !important;
    height: fit-content;
    border: var(--grey);
}



::ng-deep .calendar-input-field .mat-mdc-form-field-infix {
    display: flex !important;
    flex-direction: row !important;
    gap: 10px;
    padding: 0 !important;
    width: 100% !important;
}

::ng-deep .calendar-input-field .mdc-text-field {
    padding: 0px !important;
}

::ng-deep .calendar-input-field {
    width: 100% !important;
}

::ng-deep .mat-mdc-text-field-wrapper {
    width: 100% !important;
}

::ng-deep .form-field {
    width: 100% !important;
}

.mat-card,
.mdc-card {
    background-color: var(--white) !important;
}

::ng-deep expansion-panel-head-text .mat-icon {
    width: fit-content !important;
}

.input-type-date {
    position: relative;
    width: 25px !important;
    padding: 0rem 1rem !important;
    left: -60px;
    opacity: 0;
}

.image-it-is{
    width: 4em;
    height: 3em;
}