<!-- meeting popup code starts -->
<div class="centerpartdiv" id="showadd">
  <div class="confirmdelete">
    <!-- pop up div -->
    <div class="upperpart">

      <div class="spandiv">
        <!-- <span class="deletespan">Confirm delete</span> -->
        <p> Edit Education </p>
      </div>
    </div>
    <!-- p div -->
    <div class="parapart">
      <img src="../../../../assets/BasicInfoPopup/error.png" alt="">
      <h5>Describe your education degree in a single line.</h5>
      <p>Example: PhD of Medicine from Michigan university</p>
      <input type="text" placeholder="Red Hat Certified Engineer (RHCE)">


    </div>
    <div class="buttondiv">
      <button mat-raised-button class="red-btn btn" (click)="successPopup()">Save</button>
      <button mat-raised-button class="green-btn btn" (click)="close()">Close</button>


    </div>

    <!-- <div class="btn-container">
        <button mat-raised-button class="red-btn " (click)="  successfullpopup()" >Delete Account</button>
        <button mat-raised-button class="green-btn">Save</button>
    </div> -->

  </div>
</div>