*,
p {
    margin: 0;
    padding: 0;
}

.my-result-heading {
    font-size: 30px;
    font-weight: 500;
    border-bottom: 1px solid var(--primary-color);
    text-wrap: nowrap;
    width: 8%;
    padding-bottom: 20px;
}

.select_in{
    padding: 0px 10px;
}

.page-container-div {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.result-statistics-div {
    padding: 12px 20px;
    /* border-top: 1px solid var(--primary-color); */
    position: relative;
}

.result-statistics {
    font-size: 20px;
    font-weight: 500;
    background-color: var(--white);
    display: flex !important;
    flex-direction: row;
    align-items: center !important;
    width: 100%;
    /* justify-content: center; */
    gap: 10px;
    text-wrap: nowrap;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.view-btn{
    background-color: #FBD6E8;
   
    border:none;
    padding: 10px 20px;
    border-radius: 50px;
  
}

@media (max-width: 500px) {

    ::ng-deep .result-statistics-div{
        display: flex;
        flex-direction: column;
        gap: 80px;
        position: relative;
    }

    .result-statistics {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        position: absolute;
    }
}

.my-quizzer-heading-div {
    display: flex;
    align-items: center;
    width: 100%;
}

.result-statistics p {
    margin: 0;
}

.quizzers-arrow-line-div {
    display: flex;
    align-items: center;
    gap: -1;
    width: 100%;
}

.quizzers-arrow-icon {
    color: var(--primary-color);
    font-size: 15px;
    width: fit-content;
    height: 100% !important;
}

.quizzers-pink-line {
    border: 1px solid var(--primary-color);
    width: 100%;
    opacity: 40%;
    padding: 0 !important;
    margin: 0 !important;


}


/*card style star*/
.card-grid-div{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 30px;
    margin: 10px;
}
.card-grid-div mat-card{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    box-shadow: 0px 0px 5px 0px var(--grey);
    border-radius: 10px;
}
.card-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-medium{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 2px!important;
}
.card-bottom{
    font-size: 14px;
    font-weight: 500;
    color: var(--grey-sec) !important;
}
.card-top .img_first{
height:64px ;
}
.card-top .img_second{
    height: 14px;
    width: 67px;
}
.card-medium{
    font-size: 30px;
    font-weight: 700;
}
.card-bottom{
   color: var(--lightgray);
   font-size: 14px;
   font-weight: 600;
}
@media only screen and(max-width:768px){
    .card-grid-div{
        display: block!important;
    }
}

@media screen and (max-width:1024px) {
    .card-grid-div{
        display: grid;
        grid-template-columns: auto auto  ;
        gap: 30px;
        margin: 10px;
    }
}
@media screen and (max-width:640px) {
    .card-grid-div{
        display: grid;
        grid-template-columns: auto ;
        gap: 30px;
        margin: 10px;
    }
}


/* form css start */
.form-div {
    padding: 10px 20px;
    box-shadow: 0px 0px 5px 0px var(--grey);
    border-radius: 10px;
}

.form-input-label {
    font-size: 16px;
    font-weight: 500;
}

.calendar-input-field {
    display: flex;
    height: fit-content !important;
    width: 100% !important;
}

.in-form-row {
    width: 100%;
    margin-top: 10px;
}

 .form-field {
    width: 100% !important;
    /* height: fit-content; */
    border: var(--grey);
    
}
 


.form-row {
    width: 100% !important;
    display: flex !important;
    flex-direction: row;
    gap: 40px;
}

@media (max-width: 700px) {
    .form-row {
        display: flex;
        flex-direction: column;
        gap: 0;
    }
}

/* Quizzers My Result Page */
::ng-deep .calendar-input-field .mat-mdc-form-field-infix {
    display: flex !important;
    flex-direction: row !important;
    gap: 10px;
    padding: 0 !important;
    width: 100% !important;
  }
  
  ::ng-deep  .calendar-input-field .mdc-text-field {
    padding: 0 !important;
  }
  
  ::ng-deep  .calendar-input-field {
    width: 100% !important;
  }
  
  ::ng-deep  .mat-mdc-text-field-wrapper {
    width: 100% !important;
  }
  
  ::ng-deep  .form-field {
    width: 100% !important;
  }
  
  
  
.button-div {
    padding: 20px 0 !important;
}
.button-div button{
    background-color: var(--primary-color);
    color:var(--white);
}

.show-result-button {
    color: var(--white);
    background-color: var(--primary-color);
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    padding: 20px 0px;
}


/* card css start */
.img-course {
    width: 30%;
    height: 32%;
}
.outer-instructor{
box-shadow: 2px 2px 2px 2px var(--grey);
    
}

.inner-instructor {
    
    display: flex;
    flex-direction: column;
        justify-content: center;
    align-items: center;
   
}

.heading-content-instructor {
    color: black;
    font-family: Poppins;
    font-size: 24px;
    font-weight: bold;
    margin-top: 12px;
    text-align: center;
}
.content-instructor {
    text-align: center;
    font-size: 16px;
    font-weight: 900px;
    font-family: Poppins;
    color:var( --grey-sec);
}
@media screen and (max-width:500px) {
    .outer-instructor{
        margin-top: 45px;
       
    }
    .img-course {
        width: 80%;
        height: 32%;
    }
}
/* card css end */

.mat-mdc-header-row th{
    color: white !important;
      }