    <!-- meeting popup code starts -->
    <div class="centerpartdiv"
    id="showadd">
    <div class="confirmdelete">
        <!-- pop up div -->
        <div class="upperpart">
            <div class="spandiv">
                <span class="deletespan">Generated Content</span> 
            </div>
        </div>
        <!-- p div -->
        <div  class="result-statistics">
            <div class="my-quizzer-heading-div">
                <p>Prompt:</p>
                <div class="quizzers-arrow-line-div">
                    <mat-icon role="img" _ngcontent-ng-c3100034140="" aria-hidden="true" data-mat-icon-type="font" class="mat-icon notranslate mat-18 quizzers-arrow-icon material-icons mat-ligature-font mat-icon-no-color">play_arrow</mat-icon><p _ngcontent-ng-c2649057646="" _ngcontent-ng-c3100034140="" class="quizzers-pink-line m0"></p>
                </div>
            </div>
        </div>
        <p class="gener_detail">Generate a text with the Photoshop subject in English language with less than 40 word.</p>
        
        <div class="buttondiv">
           
            <button mat-raised-button mat-dialog-close class="close_btn">Close</button>
 

        </div>
    </div>
</div>



