<div class="page-container-div">

    <!-- <p class="my-result-heading">Achievements</p> -->


    <!-- Result Statistics -->
    <div class="result-statistics-div">
        <div class="result-statistics">
            <div class="my-quizzer-heading-div">
                <p>My certificates statistics</p>

                <div class="quizzers-arrow-line-div">
                    <mat-icon class="mat-18 quizzers-arrow-icon">play_arrow</mat-icon>
                    <p class="quizzers-pink-line "></p>
                </div>
            </div>
        </div>
        </div>


        <div class="card-grid-div">

            <!-- First Card -->
            <mat-card>

                <div class="card-top">

                    <div>
                        <img src="assets/Certificates/image 143 (1).png" alt="">
                    </div>

                    <div>
                        <img src="assets/Certificates/Group 340237.png" alt="">
                    </div>

                </div>

                <div class="card-down">

                    <p class="card-medium">1</p>

                    <p class="card-bottom">Certificates</p>

                </div>

            </mat-card>

            <!-- Second Card -->
            <mat-card>

                <div class="card-top">

                    <div>
                        <img src="assets/Certificates/image 144 (1).png" alt="">
                    </div>

                    <div>
                        <img src="assets/Certificates/Group 340237.png" alt="">
                    </div>

                </div>

                <div class="card-down">

                    <p class="card-medium">80</p>

                    <p class="card-bottom">Average Grade</p>

                </div>

            </mat-card>

            <!-- Third Card -->
            <mat-card>

                <div class="card-top">

                    <div>
                        <img src="assets/Certificates/image 145 (1).png" alt="">
                    </div>

                    <div>
                        <img src="assets/Certificates/Group 340237.png" alt="">
                    </div>

                </div>

                <div class="card-down">

                    <p class="card-medium">4</p>

                    <p class="card-bottom">Failed Quizzes</p>

                </div>

            </mat-card>

        </div>




    <!-- Filter Results -->
    <div class="result-statistics-div">
        <div class="result-statistics">
            <div class="my-quizzer-heading-div">
                <p>Filter Certificates</p>

                <div class="quizzers-arrow-line-div">
                    <mat-icon class="mat-18 quizzers-arrow-icon">play_arrow</mat-icon>
                    <p class="quizzers-pink-line m0"></p>
                </div>
            </div>

        </div>
        </div>



    <div class="form-div">

        <div class="form-row">

            <div class="in-form-row">
                <mat-label class="form-input-label">From </mat-label><br />

                <div class="calendar-input-field">

                    <mat-form-field appearance="outline" class="form-field">
                       <img src="assets/instructor/Group 340247.png" alt="" class="calendar-img">

                        <input matInput class="input">

                    </mat-form-field>

                </div>

            </div>

            <div class="in-form-row">
                <mat-label class="form-input-label">To</mat-label><br />

                <div class="calendar-input-field">

                    <mat-form-field appearance="outline" class="form-field">
                       <img src="assets/instructor/Group 340247.png" alt="" class="calendar-img">

                        <input matInput class="input">

                    </mat-form-field>

                </div>

            </div>
            <div class="in-form-row">
                <mat-label class="form-input-label">Course</mat-label><br />
                <div class="mt2">
                    <mat-form-field appearance="outline" class="form-field">
                        <mat-select class="select_in"  >
                            <mat-option value="All">All</mat-option>
                            <mat-option value="green">Green</mat-option>
                            <mat-option value="blue">Blue</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>


        </div>


        <div class="form-row">

            <div class="in-form-row">
                <mat-label class="form-input-label">Quiz</mat-label><br />

                <div class="calendar-input-field">

                    <mat-form-field appearance="outline" class="form-field form-field-quiz">

                        <input matInput class="input" placeholder="All Quizzes">

                    </mat-form-field>

                </div>

            </div>
            <div class="in-form-row">
                <mat-label class="form-input-label">Grade</mat-label><br />

                <div class="calendar-input-field">

                    <mat-form-field appearance="outline" class="form-field">

                        <input matInput class="input">

                    </mat-form-field>

                </div>

            </div>

            <div class="in-form-row button-div">
                <button mat-raised-button class="show-result-button">Show Results</button>
            </div>
        </div>



    </div>


    <!-- My quizzes -->
    <div class="result-statistics-div">
        <div class="result-statistics">
            <div class="my-quizzer-heading-div">
                <p>My certificates</p>

                <div class="quizzers-arrow-line-div">
                    <mat-icon class="mat-18 quizzers-arrow-icon">play_arrow</mat-icon>
                    <p class="quizzers-pink-line m0"></p>
                </div>
            </div>

        </div>
     </div>

     <mat-card   class="outer-instructor">
        <!-- <i class="fa-regular fa-circle-down text-xl text-end p-4 "></i> -->
        <mat-card-content class="inner-instructor  ">
        <img src="assets/Certificates/image 180.png" alt="" class="img-course">
            <p class="heading-content-instructor">
                You have no certificate!</p>
            <p class="content-instructor">
                You can achieve valid certificates by enrolling on courses.</p>



        </mat-card-content>
        </mat-card>


</div>
