<div class="popupdiv">
    <div class="main-div">
        <div class="head">
            <p class="text-1">Add Time</p>
        </div>

        <!-- 2 inputs fields div-->
        <div class="three-input-fields second-one">

            <!-- Inner Meeting Time -->
            <div class="new-form">
                <mat-label class="new-form-label">Meeting Type</mat-label>
                <div class="selected-form-field">
                    <select class="select-input">
                        <option value="">Both</option>
                    </select>
                    <span class="dual-down-arrow">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 15 15">
                            <path fill="#808080" d="M7.5 12L0 4h15z" />
                        </svg>
                    </span>
                </div>
            </div>

            <!-- Inner Add Time -->
            <div class="new-form">
                <mat-label class="new-form-label">Add Time</mat-label>
                <div class="time-pikkeR">
                    <div class="time-pikkeR-222">
                        <div class="form-row ">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="number-input">
                                        <button class="upArrow"
                                            onclick="this.parentNode.querySelector('input[type=number]').stepDown()"><mat-icon
                                                class="iconssss">keyboard_arrow_up</mat-icon></button>
                                        <input class="quantity" min="0" placeholder="0" name="quantity" value="05"
                                            type="number">
                                        <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                                            class="plus"><mat-icon
                                                class="iconssss">keyboard_arrow_down</mat-icon></button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <span class="collan-doot">:</span>

                        <div class="form-row ">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="number-input">
                                        <button class="upArrow"
                                            onclick="this.parentNode.querySelector('input[type=number]').stepDown()"><mat-icon
                                                class="iconssss">keyboard_arrow_up</mat-icon></button>
                                        <input class="quantity" min="0" placeholder="0" name="quantity" value="15"
                                            type="number">
                                        <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                                            class="plus"><mat-icon
                                                class="iconssss">keyboard_arrow_down</mat-icon></button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="tooglebutton">
                        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [vertical]="true">
                            <mat-button-toggle *ngFor="let item of fruits" [value]="item">
                                {{item}}
                            </mat-button-toggle>

                        </mat-button-toggle-group>
                    </div>

                    <div class="time-pikkeR-222">
                        <div class="form-row ">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="number-input">
                                        <button class="upArrow"
                                            onclick="this.parentNode.querySelector('input[type=number]').stepDown()"><mat-icon
                                                class="iconssss">keyboard_arrow_up</mat-icon></button>
                                        <input class="quantity" min="0" placeholder="0" name="quantity" value="05"
                                            type="number">
                                        <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                                            class="plus"><mat-icon
                                                class="iconssss">keyboard_arrow_down</mat-icon></button>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <span class="collan-doot">:</span>

                        <div class="form-row ">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="number-input">
                                        <button class="upArrow"
                                            onclick="this.parentNode.querySelector('input[type=number]').stepDown()"><mat-icon
                                                class="iconssss">keyboard_arrow_up</mat-icon></button>
                                        <input class="quantity" min="0" placeholder="0" name="quantity" value="30"
                                            type="number">
                                        <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                                            class="plus"><mat-icon
                                                class="iconssss">keyboard_arrow_down</mat-icon></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- 2 inputs fields div close -->


        <div class="larg-input-div">
            <mat-label class="new-form-label">Description</mat-label>
            <textarea name="" id="" cols="30" rows="10" class="text-area  mat-input-class" matInput
                placeholder="Description (Optional)"></textarea>
        </div>


        <div class="buttons-div">
            <button mat-raised-button mat-dialog-close class="yesBtn">Save </button>
            <button mat-dialog-close class="pop-closeBtn">Close</button>

        </div>
    </div>
</div>