<div class="msg-review">
    <mat-card>

        <div class="pad-div">
            <!-- Heading -->
            <div class="heading">
                <h3>Message to reviewer</h3>
                <!-- line -->



                <div class="line">
                    <span><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 20 20">
                            <g fill="currentColor" fill-rule="evenodd" clip-rule="evenodd">
                                <path
                                    d="M15.499 9.134a1 1 0 0 1 0 1.732l-10 5.769A1 1 0 0 1 4 15.769V4.23a1 1 0 0 1 1.5-.866z" />
                                <path
                                    d="M5.5 16.635a1 1 0 0 1-1.5-.866V4.23a1 1 0 0 1 1.5-.866l9.999 5.769a1 1 0 0 1 0 1.732zM10.997 10L7 7.694v4.612z" />
                            </g>
                        </svg></span>
                </div>
            </div>

            <div class="textContent">
                <textarea name="" placeholder="ThankYou" id="" cols="10" rows="10"></textarea>
            </div>

            <div>
                <div class="lowerLine">
                    <p>I agree with terms & rules.</p>
                    <!-- line -->
                    <div class="Lowerline">
                        <span><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 20 20">
                                <g fill="currentColor" fill-rule="evenodd" clip-rule="evenodd">
                                    <path
                                        d="M15.499 9.134a1 1 0 0 1 0 1.732l-10 5.769A1 1 0 0 1 4 15.769V4.23a1 1 0 0 1 1.5-.866z" />
                                    <path
                                        d="M5.5 16.635a1 1 0 0 1-1.5-.866V4.23a1 1 0 0 1 1.5-.866l9.999 5.769a1 1 0 0 1 0 1.732zM10.997 10L7 7.694v4.612z" />
                                </g>
                            </svg></span>
                    </div>

                    <mat-slide-toggle></mat-slide-toggle>
                </div>
            </div>

        </div>

    </mat-card>

    <app-product-btns></app-product-btns>

</div>