
   <!-- Heading -->
   <div class="heading">
    <h2>Images</h2>
    <!-- line -->
    <div class="line">
        <span><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 20 20">
                <g fill="currentColor" fill-rule="evenodd" clip-rule="evenodd">
                    <path
                        d="M15.499 9.134a1 1 0 0 1 0 1.732l-10 5.769A1 1 0 0 1 4 15.769V4.23a1 1 0 0 1 1.5-.866z" />
                    <path
                        d="M5.5 16.635a1 1 0 0 1-1.5-.866V4.23a1 1 0 0 1 1.5-.866l9.999 5.769a1 1 0 0 1 0 1.732zM10.997 10L7 7.694v4.612z" />
                </g>
            </svg></span>
    </div>
</div>


<!-- Image DIV -->

<div class="imgContainer">

<!-- aage ka div -->
<div class="profiileImg">

<p>Profile Image</p>
<img mat-card-image src="../../../assets/images/SettingImages/userBoy.png">


    <button mat-button class="blueBtn centerBtn" >
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 256 256"><path fill="currentColor" d="M204.24 116.24a6 6 0 0 1-8.48 0L134 54.49V216a6 6 0 0 1-12 0V54.49l-61.76 61.75a6 6 0 0 1-8.48-8.48l72-72a6 6 0 0 1 8.48 0l72 72a6 6 0 0 1 0 8.48"/></svg>
    Select an image</button>


</div>

<!-- pichhe ka div -->
<div class="profiileImg">

    <p>Profile Image</p>
    <img mat-card-image src="../../../assets/images/SettingImages/profileCover.png">
    
    <div class="searchbar">
    <button mat-button class="blueBtn" >
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 256 256"><path fill="currentColor" d="M204.24 116.24a6 6 0 0 1-8.48 0L134 54.49V216a6 6 0 0 1-12 0V54.49l-61.76 61.75a6 6 0 0 1-8.48-8.48l72-72a6 6 0 0 1 8.48 0l72 72a6 6 0 0 1 0 8.48"/></svg>
       </button>
       <input type="text" placeholder="/store/1015/6.jpg">
    </div>
    
    </div>
    


</div>


  <!-- Buttons -->

  <div class="btnMain">

    <div class="btn-container">
        <button mat-raised-button class="pink-btn ">Previous</button>
        <button mat-raised-button class="pink-btn">Next</button>
    </div>
   
   
    <div class="btn-container">
        <button mat-raised-button class="red-btn " (click)="  successfullpopup()" >Delete Account</button>
        <button mat-raised-button class="green-btn">Save</button>
    </div>

</div>