<div class="main-setting">
    <!-- <div class="charge">
        <span>Course Bundles</span>
    </div> -->
    <div class="result-statistics-div">
        <div class="result-statistics">
            <div class="my-quizzer-heading-div">
                <p>Steps: <input class="input-step" [formControl]="selected">/8</p>

                <div class="quizzers-arrow-line-div">
                    <mat-icon class="mat-18 quizzers-arrow-icon">play_arrow</mat-icon>
                    <p class="quizzers-pink-line m0"></p>
                </div>
            </div>


        </div>

    </div>

    <mat-stepper [linear]="isLinear" #stepper class="stepper-div">

        <!-- mat step 1 -->
        <mat-step [stepControl]="firstFormGroup">

            <div class="steps-parent">
                <ng-template matStepLabel>
                    <div class="step-1">
                        <svg xmlns="http://www.w3.org/2000/svg" class="imgstep1" width="2em" height="2em"
                            viewBox="0 0 20 20">
                            <g fill="currentColor" fill-rule="evenodd" clip-rule="evenodd">
                                <path
                                    d="M5.75 11.5a.75.75 0 0 1 .75-.75h7a.75.75 0 0 1 0 1.5h-7a.75.75 0 0 1-.75-.75m0 3a.75.75 0 0 1 .75-.75h7a.75.75 0 0 1 0 1.5h-7a.75.75 0 0 1-.75-.75" />
                                <path
                                    d="M2.5 2.5c0-1.102.898-2 2-2h6.69c.562 0 1.092.238 1.465.631l.006.007l4.312 4.702c.359.383.527.884.527 1.36v10.3c0 1.102-.898 2-2 2h-11c-1.102 0-2-.898-2-2zm8.689 0H4.5v15h11V7.192l-4.296-4.685l-.003-.001a.041.041 0 0 0-.012-.006" />
                                <path
                                    d="M11.19.5a1 1 0 0 1 1 1v4.7h4.31a1 1 0 1 1 0 2h-5.31a1 1 0 0 1-1-1V1.5a1 1 0 0 1 1-1" />
                            </g>
                        </svg>
                        <!-- <i class="imgstep1 fa-regular fa-file"></i> -->
                        <p class="basic-info">Basic Information</p>
                    </div>
                </ng-template>
            </div>

            <div>
                <app-new-course-bundle></app-new-course-bundle>
            </div>

        </mat-step>

        <!-- mat step 2 -->
        <mat-step [stepControl]="firstFormGroup">

            <div class="steps-parent">
                <ng-template matStepLabel>
                    <div class="step-1">

                        <svg xmlns="http://www.w3.org/2000/svg" class="imgstep1 " width="2em" height="2em"
                            viewBox="0 0 28 28">
                            <path fill="currentColor"
                                d="M14 2v8a2 2 0 0 0 2 2h8v12a2 2 0 0 1-2 2h-9.4A7.5 7.5 0 0 0 4 13.865V4a2 2 0 0 1 2-2zm1.5.5V10a.5.5 0 0 0 .5.5h7.5zm-1.5 18a6.5 6.5 0 1 1-13 0a6.5 6.5 0 0 1 13 0m-6-4a.5.5 0 0 0-1 0V20H3.5a.5.5 0 0 0 0 1H7v3.5a.5.5 0 0 0 1 0V21h3.5a.5.5 0 0 0 0-1H8z" />
                        </svg>
                        <p class="basic-info">Extra Information</p>
                    </div>
                </ng-template>
            </div>
            <div>
                <app-extra-info-course-bundle></app-extra-info-course-bundle>
            </div>

        </mat-step>

        <!-- mat step 3 -->
        <mat-step [stepControl]="firstFormGroup">
            <div class="steps-parent">
                <ng-template matStepLabel>
                    <div class="step-1">

                        <svg xmlns="http://www.w3.org/2000/svg" class="imgstep1" width="2em" height="2em" viewBox="0 0 24 24"><g fill="none"><path d="m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022m-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"/><path fill="currentColor" d="M19 4a2 2 0 0 1 2 2v2.268A2 2 0 0 1 22 10v4a2 2 0 0 1-1 1.732V18a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2zm0 2H5v12h14v-2h-4a4 4 0 0 1-.2-7.995L15 8h4zm1 4h-5a2 2 0 1 0 0 4h5zm-4 1a1 1 0 1 1 0 2a1 1 0 0 1 0-2"/></g></svg>
                        <p class="basic-info">Pricing</p>
                    </div>
                </ng-template>
            </div>
            <div>
                <app-pricing-stepr-course-bunle></app-pricing-stepr-course-bunle>
            </div>
        </mat-step>

        <!--  mat step 4 -->
        <mat-step [stepControl]="firstFormGroup">

            <div class="steps-parent">
                <ng-template matStepLabel>
                    <div class="step-1">
                        <svg xmlns="http://www.w3.org/2000/svg" class="imgstep1" width="2em" height="2em" viewBox="0 0 24 24"><path fill="currentColor" d="M19 2h-4.18C14.4.84 13.3 0 12 0c-1.3 0-2.4.84-2.82 2H5c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2m-7 0c.55 0 1 .45 1 1s-.45 1-1 1s-1-.45-1-1s.45-1 1-1m7 18H5V4h2v3h10V4h2z"/></svg>

                        <p class="basic-info">Content</p>
                    </div>
                </ng-template>
            </div>
            <div>
                <app-content></app-content>
                <!-- <app-massage-to-reviewer></app-massage-to-reviewer> -->
            </div>
        </mat-step>
           <!--  mat step 5 -->
           <mat-step [stepControl]="firstFormGroup">

            <div class="steps-parent">
                <ng-template matStepLabel>
                    <div class="step-1">
                        <svg xmlns="http://www.w3.org/2000/svg" class="imgstep1" width="2em" height="2em" viewBox="0 0 24 24"><path fill="currentColor" d="M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2m0 16H5V5h14zM17.99 9l-1.41-1.42l-6.59 6.59l-2.58-2.57l-1.42 1.41l4 3.99z"/></svg>

                        <p class="basic-info">FAQ</p>
                    </div>
                </ng-template>
            </div>
            <div>
                <app-coursebundle-faq></app-coursebundle-faq>
                <!-- <app-massage-to-reviewer></app-massage-to-reviewer> -->
            </div>
        </mat-step>
           <!--  mat step 6 -->
           <mat-step [stepControl]="firstFormGroup">

            <div class="steps-parent">
                <ng-template matStepLabel>
                    <div class="step-1">
                        <svg xmlns="http://www.w3.org/2000/svg" class="imgstep1" width="2em" height="2em" viewBox="0 0 24 24"><path fill="currentColor" d="M20 2H4c-1.1 0-2 .9-2 2v18l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2m0 14H5.2L4 17.2V4h16zm-8-3.6l2.6 1.6l-.7-3l2.3-2l-3-.3L12 6l-1.2 2.8l-3 .2l2.3 2l-.7 3z"/></svg>

                        <p class="basic-info">Massage to reviewer</p>
                    </div>
                </ng-template>
            </div>
            <div>
                <app-messege-to-recever-stepr-course-bundle></app-messege-to-recever-stepr-course-bundle>
            </div>
        </mat-step>

    </mat-stepper>

      <!-- buttons div  -->
  <div class="buttons-div">
    <div>
        <button class="butten-1" mat-raised-button>Previous </button>
        <button class="butten-2" mat-raised-button>Next</button>
    </div>
    <div>
        <button class="butten-2" mat-raised-button>Send for Review </button>
        <button class="butten-2" mat-raised-button>Save as Draft </button>
        <button (click)="Newdelete()"  class="butten-3"  mat-raised-button>Delete</button>

    </div>
</div>
<!-- buttons div close -->
</div>
