<!-- My article page starts -->
<div class="uppersection">
  <div class="result-statistics-div">
    <div class="result-statistics">
      <div class="my-quizzer-heading-div">
        <p>Filter comments</p>

        <div class="quizzers-arrow-line-div">
          <mat-icon class="mat-18 quizzers-arrow-icon">play_arrow</mat-icon>
          <p class="quizzers-pink-line "></p>
        </div>
      </div>

    </div>
    <!-- input card  section starts -->
    <mat-card>
      <mat-card-content>
        <!-- input div starts -->
        <div class="inputselectdiv">
          <div class="main-input-fields-div">
            <mat-label class="new-form-label">From</mat-label>
            <mat-form-field class=" coverimage" appearance="outline">
              <div class="coverimagediv">
                <img src="../../../assets/Articleimages/Images/coverimagearticle.png" alt="">
                <input matInput placeholder="" class="inputfocus">
              </div>
            </mat-form-field>
          </div>
          <div class="main-input-fields-div">
            <mat-label class="new-form-label">To</mat-label>
            <mat-form-field class=" coverimage" appearance="outline">
              <div class="coverimagediv">
                <img src="../../../assets/Articleimages/Images/coverimagearticle.png" alt="">
                <input matInput placeholder="" class="inputfocus">
              </div>
            </mat-form-field>
          </div>
          <div class="main-input-fields-div">
            <mat-label class="new-form-label">Post</mat-label>
            <div class="selected-form-field">

              <select class="select-input">
                <option value="">Select a category</option>
              </select>
              <span class="dual-down-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                  viewBox="0 0 15 15">
                  <path fill="#808080" d="M7.5 12L0 4h15z" />
                </svg>
              </span>
              
            </div>
          </div>
        </div>



        <!-- button div starts -->
        <div class="buttondiv">
          <button mat-raised-button color="accent">Show Results</button>
        </div>
        <!-- button div end -->




      </mat-card-content>
    </mat-card>


    <!-- inputdiv of date with icon starts -->
    <div class="result-statistics">
      <div class="my-quizzer-heading-div">
        <p>Blog comments list</p>

        <div class="quizzers-arrow-line-div">
          <mat-icon class="mat-18 quizzers-arrow-icon">play_arrow</mat-icon>
          <p class="quizzers-pink-line "></p>
        </div>
      </div>

    </div>

    <!-- card div starts -->
    <div class="cardnewdiv">
      <mat-card>
        <mat-card-content>
          <div class="cardsection">
            <img src="../../../assets/Articleimages/Images/clipboardcommentsiamge.png" alt="">
            <span class="spanarticle">You don't have any comments!</span>
            <div class="coursespan">
              <span>When a student comment on your coursesit will be appeared in this list.</span>
            </div>
            <!-- <div class="buttonpart">
                          <button mat-raised-button color="accent">Create an article</button>
                      </div> -->
          </div>
        </mat-card-content>
      </mat-card>
    </div>

  </div>






</div>