*,
p {
  margin: 0;
  padding: 0;
}

.my-result-heading {
  font-size: 30px;
  font-weight: 500;
  border-bottom: 1px solid var(--primary-color);
  text-wrap: nowrap;
  width: 8%;
  padding-bottom: 20px;
}

.page-container-div {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.result-statistics-div {
  padding: 20px 20px;
  /* border-top: 1px solid var(--primary-color); */
  position: relative;
}

.result-statistics {
  font-size: 20px;
  font-weight: 500;
  background-color: var(--white);
  display: flex !important;
  flex-direction: row;
  align-items: center !important;
  width: 100%;
  /* justify-content: center; */
  gap: 10px;
  text-wrap: nowrap;

  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
}

@media (max-width: 500px) {
  ::ng-deep .result-statistics-div {
    display: flex;
    flex-direction: column;
    gap: 80px;
    position: relative;
  }

  .result-statistics {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    /* position: absolute; */
  }
}

.my-quizzer-heading-div {
  display: flex;
  align-items: center;
  width: 100%;
  padding-inline: 20px;
}

.result-statistics p {
  margin: 0;
}

.quizzers-arrow-line-div {
  display: flex;
  align-items: center;
  gap: -1;
  width: 100%;
}

.quizzers-arrow-icon {
  color: var(--primary-color);
  font-size: 15px;
  width: fit-content;
  height: 100% !important;
}

.quizzers-pink-line {
  border: 1px solid var(--primary-color);
  width: 100%;
  opacity: 40%;
  padding: 0 !important;
  margin: 0 !important;
}

.card-grid-div {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 30px;
}

@media (max-width: 900px) {
  .card-grid-div {
    display: grid;
    grid-template-columns: auto auto;
  }
}

@media (max-width: 450px) {
  .card-grid-div {
    display: grid;
    grid-template-columns: auto;
  }
}

.card-grid-div mat-card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  box-shadow: 0px 0px 5px 0px var(--grey);
  border-radius: 10px;
}

.card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-down {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-medium {
  font-size: 30px;
  font-weight: 500;
}

.card-bottom {
  font-size: 14px;
  font-weight: 500;
  color: var(--grey-sec);
}

.form-div {
  padding: 30px 20px;
  box-shadow: 0px 0px 5px 0px var(--grey);
  border-radius: 10px;
}

.form-input-label {
  font-size: 16px;
  font-weight: 500;
}

.calendar-input-field {
  display: flex;
  height: fit-content !important;
  width: 100% !important;
}

.in-form-row {
  width: 100%;
}

.form-field {
  width: 100% !important;
  height: fit-content;
  border: var(--grey);
}

.form-row {
  width: 100% !important;
  display: flex !important;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

@media (max-width: 700px) {
  .form-row {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}

.button-div {
  padding: 20px 0 !important;
}

.show-result-button {
  color: var(--white);
  background-color: var(--primary-color);
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  padding: 20px 0px;
}

.text-with-toggle-div {
  display: flex;
  gap: 8px;

  font-size: 20px;
  font-weight: 400;
  color: var(--grlight);
}

@media (max-width: 500px) {
  .text-with-toggle-div {
    margin-bottom: 10px;
  }
}

table {
  width: 100%;
  text-wrap: nowrap;
}

.quizzer-table-div {
  overflow-x: auto;
  border-radius: 10px !important;
  text-wrap: nowrap;
  table-layout: auto;
}

.td-div {
  display: flex;
  gap: 5px;
  padding: 15px 5px;
}

.td-text-p1 {
  font-size: 12px;
  font-weight: 400;
}

.td-text-p2 {
  font-size: 10px;
  font-weight: 400;
  color: var(--grey-sec);
}

.quizzer-text-green {
  color: var(--lightgreen);
}

.quizzer-text-orange {
  color: var(--accent-color);
}

.quizzer-text-red {
  color: var(--red);
}

.quizzer-date-td {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
}

.reg-12 {
  font-size: 12px;
  font-weight: 400;
}

.form-div .button-div .mat-mdc-raised-button {
  width: 100% !important;
  background-color: var(--primary-color);
  color: white !important;
}

@media (min-width: 320px) and (max-width: 520px) {
  .form-div .button-div .mat-mdc-raised-button {
    width: 100% !important;
  }
}

.in-form-row_new {
  width: 100%;
}

/* ::ng-deep .mat-mdc-table thead .mat-mdc-header-cell{
    border-bottom-right-radius: 20px !important;
} */
.uppersection {
  margin-top: 40px;
}

.result-statistics .my-quizzer-heading-div .quizzers-arrow-line-div {
  width: 85% !important;
}

::ng-deep .ng-tns-c2743848614-0 .mat-sidenav-container .mat-sidenav-content .ng-star-inserted .uppersection .result-statistics-div .result-statistics:nth-child(3) .my-quizzer-heading-div .quizzers-arrow-line-div {
  width: 100% !important;
}

.cardsection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

.spanarticle {
  font-weight: bold;
  font-size: 20px;
}

.cardsection .buttonpart .mat-mdc-raised-button {
  padding-left: 25px !important;
  padding-right: 23px !important;
}

.result-statistics-div .result-statistics:nth-child(1) .my-quizzer-heading-div {
  padding-bottom: 25px !important;
  padding-top: 19px !important;
}

/* Quizzer heading div */
.result-statistics-div .result-statistics:nth-child(3) .my-quizzer-heading-div {
  padding-top: 22px !important;
  padding-bottom: 23px !important;
}

@media (max-width: 935px) {

  /* .result-statistics-div
    .result-statistics:nth-child(1)
    .my-quizzer-heading-div {
    margin-top: 120px !important;
  } */
  .uppersection {
    margin-top: 2px;
  }

  .result-statistics-div {
    display: block !important;
  }
}

.mat-mdc-card .cardsection span:nth-child(3) {
  color: rgba(165, 161, 161, 0.87) !important;
}

.new-form {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.mat-input-class {
  height: 2rem;
  border: 0.5px solid var(--grey);
  border-radius: 0.2rem;
  width: -webkit-fill-available;
  padding: 0.5rem;
}

.flexinput {
  display: flex;
  gap: 10px;
}

.selected-form-field {
  display: flex;
  position: relative;
  align-items: center;
}

.select-input {
  border: 0.5px solid var(--grey);
  border-radius: 0.3rem;
  width: -webkit-fill-available;
  padding: 1rem;
  color: var(--grey-sec);
}

.dual-down-arrow {
  position: absolute;
  right: 0.4rem;
  top: 1.2rem;
}

.flexinput .new-form select {
  appearance: none !important;
  outline: none !important;
}

.flexinput .new-form .mat-mdc-input-element {
  outline: none !important;
}

.selected-form-field_blank {
  position: relative;
  /* border: 1px solid black; */
}

.imagediv {
  position: absolute;
}

.buttondiv {
  margin-top: 10px;
  padding-block: 30px;
}

.result-statistics-div .buttondiv .mat-mdc-raised-button {
  width: 33% !important;
  height: 50px !important;
  border-radius: 10px !important;
}

/*  */
@media (max-width: 930px) {
  .flexinput {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100% !important;
  }

  .flexinput .new-form .mat-mdc-input-element {
    width: 115% !important;
  }

  .flexinput .new-form .selected-form-field {
    width: 123% !important;
  }


}

/*  */
@media (max-width: 730px) {
  .result-statistics-div .buttondiv .mat-mdc-raised-button {
    width: 70% !important;
  }
}

/* upper part css */
.uppersection .result-statistics-div .mat-mdc-card:nth-child(2) {
  background-color: #ffffff !important;
  border-radius: 20px !important;
}

/* blog comment card css
 .uppersection  .result-statistics-div .cardnewdiv .mat-mdc-card:nth-child(4){
  background-color:#ffffff !important;
  border-radius: 20px !important;

 } */
.coverimagediv {
  display: flex;
}

::ng-deep .coverimage .mat-mdc-form-field-flex .mat-mdc-form-field-infix {
  min-height: 0px !important;
  height: 0px !important;
  margin-top: -10px !important;
}

.inputselectdiv {
  display: flex;
  gap: 20px;
  padding-inline: 30px;
}

.mat-mdc-card .mat-mdc-card-content .inputselectdiv .main-input-fields-div {
  width: 100% !important;
}

.buttondiv {
  padding-inline: 30px;
}

@media (max-width: 700px) {
  .inputselectdiv {
    display: flex;
    flex-direction: column;
  }

}

@media (min-width: 765px) and (max-width: 930px) {
  .result-statistics-div .result-statistics:nth-child(1) .my-quizzer-heading-div {
    margin-top: 60px !important;
  }

}

@media (max-width: 620px) {
  .cardsection span {
    text-align: center;

  }

  .coursespan {
    padding-inline: 20px;
  }

}

@media (max-width: 750px) {
  .cardnewdiv {
    padding-bottom: 60px;
  }

}

.result-statistics-div .cardnewdiv .mat-mdc-card {
  background-color: #ffffff !important;
  border-radius: 20px !important;
}

.new-form-label {
  font-size: 16px;
  color: black;
  font-weight: 500;
}

::ng-deep .buttondiv button{
  font-size: 16px !important;
  font-weight: 500 !important;
}