<div class="page-container-div">

    <!-- <p class="my-result-heading">Noticeboard</p> -->



    <!-- Students -->
    <div class="result-statistics-div">
        <div class="result-statistics">
            <div class="my-quizzer-heading-div">
                <p>Results statistics</p>

                <div class="quizzers-arrow-line-div">
                    <mat-icon class="mat-18 quizzers-arrow-icon">play_arrow</mat-icon>
                    <p class="quizzers-pink-line m0"></p>
                </div>
            </div>

        </div>
    </div>


        <!--cards-->
<div class="mat-card-div">
    <!-- First Card -->
    <mat-card>
        <div class="card-top">
            <div>
                <img src="../assets/quizzes/q2.png" alt="" class="img_first">
            </div>
            <div>
                <img src="../assets/reward/stoke.png" alt="" class="img_second">
            </div>
        </div>
        <div class="card-down">
            <p class="card-medium">0</p>
            <p class="card-bottom">Quizzes</p>
        </div>
    </mat-card>
    <!-- Second Card -->
    <mat-card>
        <div class="card-top">
            <div>
                <img src="../assets/quizzes/q4.png" alt="" class="img_first">
            </div>
            <div>
                <img src="../assets/reward/stoke.png" alt="" class="img_second">
            </div>
        </div>
        <div class="card-down">
            <p class="card-medium">0</p>
            <p class="card-bottom">Passed</p>
        </div>
    </mat-card>
    <!-- Third Card -->
    <mat-card>
        <div class="card-top">
            <div>
                <img src="../assets/quizzes/q6.png" alt="" class="img_first">
            </div>
            <div>
                <img src="../assets/reward/stoke.png" alt="" class="img_second">
            </div>
        </div>
        <div class="card-down">
            <p class="card-medium">0</p>
            <p class="card-bottom">Failed</p>
        </div>
    </mat-card>
    <mat-card>
        <div class="card-top">
            <div>
                <img src="../assets/quizzes/q1.png" alt="" class="img_first">
            </div>
            <div>
                <img src="../assets/reward/stoke.png" alt="" class="img_second">
            </div>
        </div>
        <div class="card-down">
            <p class="card-medium">0</p>
            <p class="card-bottom">Open results</p>
        </div>
    </mat-card>
</div>
<!--end cards-->
    <!--  Filter Students -->
    <div class="result-statistics-div">
        <div class="result-statistics">
            <div class="my-quizzer-heading-div">
                <p>Filter Results</p>

                <div class="quizzers-arrow-line-div">
                    <mat-icon class="mat-18 quizzers-arrow-icon">play_arrow</mat-icon>
                    <p class="quizzers-pink-line m0"></p>
                </div>
            </div>

        </div>
    </div>


    <!-- form div start  -->

        <div class="form-div">

            <div class="form-row">

                <div class="in-form-row">
                    <mat-label class="form-input-label">From </mat-label><br />

                    <div class="calendar-input-field">

                        <mat-form-field appearance="outline" class="form-field">
                           <img src="assets/notice-board/icon.png" alt="" class="calendar-img">

                            <input matInput class="input">

                        </mat-form-field>

                    </div>

                </div>

                <div class="in-form-row">
                    <mat-label class="form-input-label">To</mat-label><br />

                    <div class="calendar-input-field">

                        <mat-form-field appearance="outline" class="form-field">
                           <img src="assets/notice-board/icon.png" alt="" class="calendar-img">

                            <input matInput class="input">

                        </mat-form-field>

                    </div>

                </div>

            </div>
 

            <div class="form-row">

                <div class="in-form-row">
                    <mat-label class="form-input-label">Course</mat-label><br />

                    <div class="calendar-input-field">

                        <mat-form-field appearance="outline" class="form-field">

                      <input matInput class="input" type="email">

                        </mat-form-field>

                    </div>

                </div>


                <div class="in-form-row button-div">
                    <button mat-raised-button class="show-result-button">Show Results</button>
                </div>
            </div>

          

        </div>




  <!-- toggle with line and text  -->
  <div class="toggle-with-line">
    <!-- sub hedaing  -->
    <div class="my-quizzer-heading-div">
        <p class="med-20">My quizzes</p>

        <div class="quizzers-arrow-line-div">
            <mat-icon class="mat-18 quizzers-arrow-icon">play_arrow</mat-icon>
            <p class="quizzers-pink-line m0"></p>
        </div>
    </div>
    <!-- sub hedaing close -->
    <div class="toggle-div">
        <span class="toggle-text">Show only open results</span>
        <mat-slide-toggle></mat-slide-toggle>
    </div>
</div>
<!-- toggle with line and text close  -->



    </div>
    <mat-card class="mat-mdc-card mdc-card outer-instructor">
        <mat-card-content  class="mat-mdc-card-content inner-instructor">
            <img  src="../assets/notice-board/Group 340923.png" alt="" class="img-course">
            <p  class="heading-content-instructor"> No result is available.</p>
            <p  class="content-instructor"> Your students didn't pass any quiz yet!</p>
        </mat-card-content>
    </mat-card>





