<!-- Heading -->
<div class="heading">
    <h4>About</h4>
    <!-- line -->
    <div class="line">
        <span><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 20 20">
                <g fill="currentColor" fill-rule="evenodd" clip-rule="evenodd">
                    <path d="M15.499 9.134a1 1 0 0 1 0 1.732l-10 5.769A1 1 0 0 1 4 15.769V4.23a1 1 0 0 1 1.5-.866z" />
                    <path
                        d="M5.5 16.635a1 1 0 0 1-1.5-.866V4.23a1 1 0 0 1 1.5-.866l9.999 5.769a1 1 0 0 1 0 1.732zM10.997 10L7 7.694v4.612z" />
                </g>
            </svg></span>
    </div>
</div>

<!-- Text Content -->

<div class="textContent">

    <!-- Upper Container -->

    <div class="biography">
        <p>Biography</p>
        <!-- Border Div -->
        <textarea name="" id="" cols="100" rows="10" placeholder="Robert started his career as a Unix and Linux System Engineer in 1999. Since that time he has utilized his Linux skills at companies such as Xerox, UPS, Hewlett-Packard, and Amazon.com. Additionally, he has acted as a technical consultant and independent contractor for small businesses and Fortune 500 companies.

    Robert has professional experience with CentOS, RedHat Enterprise Linux, SUSE Linux Enterprise Server, and Ubuntu. He has used several Linux distributions on personal projects including Debian, Slackware, CrunchBang, and others. In addition to Linux, Jason has experience supporting proprietary Unix operating systems including AIX, HP-UX, and Solaris.
    "></textarea>
    </div>


    <div class="jobTitle">
        <p>Job Title</p>
        <!-- Border Div -->
        <textarea name="" id="" cols="120" rows="10" placeholder="System Administrator at Amazon
    "></textarea>
    </div>

    <div class="lowerText">
        <p>- The "Job title" will be displayed at the bottom of your name on the profile cards.
            - Keep it short (2 or 3 words) Eg "Product designer, Senior software engineer".</p>
    </div>

    <!-- Buttons -->

    <div class="btnMain">

        <div class="btn-container">
            <button mat-raised-button class="pink-btn dull">Previous</button>
            <button mat-raised-button class="pink-btn">Next</button>
        </div>


        <div class="btn-container">
            <button mat-raised-button class="red-btn " (click)=" successfullpopup()">Delete Account</button>
            <button mat-raised-button class="green-btn">Save</button>
        </div>

    </div>

</div>