<div class="main-subscribe">

  <div class="charge ">
    <span>Financial</span>
  </div>

  <div class="sub-heading-div">
    <p class="sub-heading">My active plan</p>
    <i class="fa-solid fa-caret-right"></i>
    <p class="arrow-line"></p>
  </div>

  <!--cards-->
  <div class="card-grid-div">
    <!-- First Card -->
    <mat-card>
      <div class="card-top">
        <div>
          <img src="assets/Financial/img1.png" alt="" class="img_first">
        </div>
        <div>
          <img src="assets/Financial/stoke.png" alt="" class="img_second">
        </div>
      </div>
      <div class="card-down">
        <p class="card-medium">$251.40</p>
        <p class="card-bottom">Account charge</p>
      </div>
    </mat-card>
    <!-- Second Card -->
    <mat-card>
      <div class="card-top">
        <div>
          <img src="assets/Financial/img2.png" alt="" class="img_first">
        </div>
        <div>
          <img src="assets/Financial/stoke.png" alt="" class="img_second">
        </div>
      </div>
      <div class="card-down">
        <p class="card-medium">$46.50</p>
        <p class="card-bottom">Ready to payout</p>
      </div>
    </mat-card>
    <!-- Third Card -->
    <mat-card>
      <div class="card-top">
        <div>
          <img src="assets/Financial/img3.png" alt="" class="img_first">
        </div>
        <div>
          <img src="assets/Financial/stoke.png" alt="" class="img_second">
        </div>
      </div>
      <div class="card-down">
        <p class="card-medium">$46.50</p>
        <p class="card-bottom">Total income</p>
      </div>
    </mat-card>
  </div>
  <!--end cards-->


  <!-- cards account statcic  start-->
  <div class="sub-heading-div">
    <p class="sub-heading">Account Statistics</p>
    <i class="fa-solid fa-caret-right"></i>
    <p class="arrow-line"></p>
  </div>
  <div class="account-card">
    <mat-card class="card-ac-1">
      <div class="unlock">
        <div>
          <img src="assets/Financial/image 173.png">
        </div>
        <div class="">
          <p class="bonus">6/40</p>
          <p class="your-wallet">Courses</p>
        </div>
      </div>
    </mat-card>
    <mat-card>
      <div class="unlock">
        <div>
          <img src="assets/Financial/image 174.png">
        </div>
        <div class="">
          <p class="bonus">20</p>
          <p class="your-wallet">Live Students</p>
        </div>
      </div>
    </mat-card>
    <mat-card>
      <div class="unlock">
        <div>
          <img src="assets/Financial/image 175.png">
        </div>
        <div class="">
          <p class="bonus">20/20</p>
          <p class="your-wallet">Meeting Time Slots</p>
        </div>
      </div>
    </mat-card>
    <mat-card>
      <div class="unlock">
        <div>
          <img src="assets/Financial/image 176.png">
        </div>
        <div class="">
          <p class="bonus">2/5</p>
          <!-- <p class="your-wallet">Live Students</p> -->
        </div>
      </div>
    </mat-card>
  </div>


  <!-- Select a subscription plan strt -->
  <div class="sub-heading-div">
    <p class="sub-heading">Upgrade your account</p>
    <i class="fa-solid fa-caret-right"></i>
    <p class="arrow-line"></p>
  </div>

  <!-- Select a subscription plan end -->

  <div class="text-center ">

    <div class="card-flex">

      <mat-card class="boxshado">
        <mat-card-content class="relat_div">
          <div class="btn_upr_div">
            <div class="ab_div">
              <img src="assets/Financial/image 991.png" alt="cup" class="img_div" />
            </div>
            <div class="bronze">
              <button mat-button class="btn_bro upercase">BASIC</button>
            </div>
          </div>
          <mat-card-title class="excel_para ">
            Suggested for personal usage
          </mat-card-title>
          <!-- <p class="excel_para mt20 upercase"></p> -->
          <p class="gren_text ">$99</p>
          <div class="parts-prem-pro-bscic">
            <ul class="list_text">
              <li>30 Days</li>
              <li class="">10 Courses </li>
              <li class="">40 Live Students</li>
              <li class="">30 Meeting Time Slots</li>
              <li class="">Unlimited Products</li>
            </ul>
          </div>
          <div class="pur_btn">
            <button mat-button class="">Upgrade</button>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="boxshado">
        <mat-card-content class="relat_div">
          <div class="btn_upr_div">
            <div class="ab_div">
              <img src="assets/Financial/image 992.png" alt="cup" class="img_div" />
            </div>

            <div class="gold">
              <button mat-button class="btn_bro upercase">PRO</button>
            </div>
          </div>
          <mat-card-title class="excel_para ">
            Suggested for personal usage
          </mat-card-title>
          <!-- <p class="excel_para mt20 upercase"></p> -->
          <p class="gren_text ">$100</p>
          <div class="parts-prem-pro-bscic">
            <ul class="list_text">
              <li>90 Days</li>
              <li class="">20 Courses</li>
              <li class="">60 Live Students</li>
              <li class="">50 Meeting Time Slots</li>
              <li class="">Unlimited Products</li>
            </ul>
          </div>
          <div class="pur_btn">
            <button mat-button class="">Purchase</button>
          </div>

        </mat-card-content>
      </mat-card>
      <mat-card class="boxshado">
        <mat-card-content class="relat_div">
          <div class="btn_upr_div">
            <div class="ab_div">
              <img src="assets/Financial/image 993.png" alt="cup" class="img_div" />
            </div>
            <div class="silver">
              <button mat-button class="btn_bro upercase">PREMIUM</button>
            </div>
          </div>
          <div class="parts-prem-pro-bscic">
            <mat-card-title class="excel_para">
              Suggested for personal usage
            </mat-card-title>
            <!-- <p class="excel_para mt20 upercase"></p> -->
            <p class="gren_text ">$40</p>

            <ul class="list_text">
              <li>180 days </li>
              <li class="">40 Courses</li>
              <li class="">100 Live Students</li>
              <li class="">75 Meeting Time Slots</li>
              <li class="">Unlimited Products</li>
            </ul>

            <div class="pur_btn">
              <button mat-button class="">Purchase</button>
            </div>
          </div>

        </mat-card-content>
      </mat-card>

    </div>
  </div>


</div>