.resetbtn {
  background-color: var(--primary-color) !important;
  padding: 10px 35px !important;
  color: var(--white) !important;
  display: block;
  margin: 0 auto;
  font-size: 25px;
  font-weight: 500;
  text-transform: uppercase;
}
.abs {
  color: var(--black);
}
.bgcol {
  background-color: var(--grey);
  /* width: fit-content; */
  border-radius: 40%;
  padding: 3px;
  width: 5%;
  margin: 18px auto;
  text-align: center;
  display: flex;
  justify-content: center;
}
::ng-deep .emailbtn {
  /* background-color: var(--primary-color) !important; */
  color: var(--white) !important;
  border-top-left-radius: 25px !important; /* Adjust the value as needed for the top-left corner */
  border-bottom-left-radius: 25px !important;
  padding: 14px 35px !important;
  font-size: 25px;
  text-transform: uppercase;
  
}
::ng-deep .phonebtn {
  color: var(--white) !important;
  border-top-right-radius: 25px !important;
  border-bottom-right-radius: 25px !important;
  padding: 14px 35px !important;
  font-size: 25px;
  text-transform: uppercase;
}
  .email_text_label{
    font-size: 16px;
    font-weight: 700;
  }

.login_text{
  font-size: 36px;
  font-weight: 900;
  margin: 0px;
  text-align: center;
}
.mfbtn {
  display: flex;
  justify-content: center;
}
.bgpink {
  background-color: var(--primary-color);
}
.bggrey {
  background-color: var(--grey) !important;
}
.mat-mdc-button.mat-mdc-button-base,
.mat-mdc-raised-button.mat-mdc-button-base,
.mat-mdc-unelevated-button.mat-mdc-button-base,
.mat-mdc-outlined-button.mat-mdc-button-base {
  height: 46px;
}
.recover_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.w_div {
  width: 40%;
}
.w_div1 {
  width: 60%;
}
@media screen and (max-width: 768px) {
  .recover_div {
    display: block;
  }
  .w_div {
    width: 100%;
  }
  .w_div1 {
    width: 100%;
  }
}
