<!-- login page startclass="p10 mt50 grid"   < fxFlexFill -->
<div fxLayout="row " fxLayout.xs="column" fxLayoutGap="16px " class="my5 px2">
  <div fxFlex="50%" fxFlex.sm="100%" class="px2">
    <div class="text-center">
      <p class="login_text">Password Recovery</p>
      <img
        src="assets/images/forgot.png"
        alt="imageAlt"
        class="width8 text-center"
      />
    </div>
  </div>

  <div fxFlexAlign="center-center" fxFlex="50%" fxFlex.sm="100%" class="wful">
    <div>
      <div class="mfbtn">
        <button
          mat-button
          class="emailbtn upercase mx py"
          (click)="setSelectedButton('email')"
          [class.bgpink]="selectedButton === 'email'"
          [class.bggrey]="selectedButton !== 'email'"
        >
          <!-- (click)="setSelectedButton('email')" -->
          Email
        </button>
        <button
          mat-button
          class="phonebtn upercase mx py"
          (click)="setSelectedButton('phone')"
          [class.bgpink]="selectedButton === 'phone'"
          [class.bggrey]="selectedButton !== 'phone'"
        >
          <!-- (click)="setSelectedButton('phone')" -->
          Phone
        </button>
      </div>
      <div class="mt50 inrep">
        <!-- [hidden]="selectedButton == 'phone'" -->
        <div [hidden]="selectedButton == 'phone'">
          <mat-label class="email_text_label">Email :</mat-label><br />
          <div class="mt2">
            <mat-form-field appearance="outline" class="w100 py3 ">
              <input
                matInput
                type="email"
                placeholder="Email"
                class=""
              />
            </mat-form-field>
          </div>
        </div>
        <div [hidden]="selectedButton == 'email'">
          <div class="recover_div">
            <div class="w_div">
              <mat-label class="email_text_label">Country:</mat-label><br />
              <div class="mt2">
                <mat-form-field appearance="outline" class="py3  w100">
                  <input matInput type="tel" id="phone" />
                </mat-form-field>
              </div>
            </div>
            <div class="w_div1">
              <mat-label class="email_text_label">Phone:</mat-label><br />
              <div class="mt2">
                <mat-form-field appearance="outline" class="py3  w100">
                  <input
                    matInput
                    type="number"
                    placeholder="phone"
                    class=""
                  />
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <!-- [hidden]="selectedButton == 'email'" -->

        <div class="mt20">
          <button mat-button class="upercase resetbtn">reset Password</button>
          <p class="mt20 bgcol">or</p>
          <p class="text-center f20 abs fnw">Login</p>
        </div>
      </div>
    </div>
  </div>
</div>
