<div class="result-statistics">
  <div class="my-quizzer-heading-div">
    <p>Quiz & Certification (Optional)</p>

    <div class="quizzers-arrow-line-div">
      <mat-icon class="mat-18 quizzers-arrow-icon">play_arrow</mat-icon>
      <p class="quizzers-pink-line "></p>
    </div>
  </div>

</div>
<!-- button div starts -->
<div class="buttondiv">
  <button mat-raised-button color="accent">New Quiz</button>
</div>

<div class="gapping-div">

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="expansion-panel-head">


            <div class="">
              <img src="assets/Courses/Group 340577.png" alt="">
            </div>

            <div class="my-quizzer-heading-div-in">


              <!-- <div class="my-quizzer-heading-div-2"> -->

              <div class="expansion-panel-head-text">
                <p class="med-16">New Quiz</p>
                <!-- <p class="med-12 text-grey">4 Topics | 0:00 Hr</p> -->
              </div>

              <div class="quizzers-arrow-line-div">
                <mat-icon class="mat-18 quizzers-arrow-icon">play_arrow</mat-icon>
                <p class="quizzers-pink-line m0"></p>
              </div>

              <!-- </div> -->

            </div>

          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="child-expansion-panel-inner-content">

        <div class="grid-div">

          <div class="in-form-row">
            <mat-label class="form-input-label reg-16">Language</mat-label><br />
            <div class="mt2">
              <mat-form-field appearance="outline" class="form-field">
                <mat-select class="select_in">
                  <mat-option value="English">English</mat-option>
                  <mat-option value="Hindi">Hindi</mat-option>
                  <mat-option value="Spanish">Spanish</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="in-form-row">
            <mat-label class="form-input-label reg-16">Quiz Title</mat-label><br />
            <div class="mt2">
              <mat-form-field appearance="outline" class="form-field">
                <input matInput class="select_in" placeholder="">
              </mat-form-field>
            </div>
          </div>

          <div class="in-form-row">
            <mat-label class="form-input-label reg-16">Time (Minutes)</mat-label><br />
            <div class="mt2">
              <mat-form-field appearance="outline" class="form-field">
                <input matInput class="select_in" placeholder="Leave it blank for unlimites.">
              </mat-form-field>
            </div>
          </div>

          <div class="in-form-row">
            <mat-label class="form-input-label reg-16">Number of atempts</mat-label><br />
            <div class="mt2">
              <mat-form-field appearance="outline" class="form-field">
                <input matInput class="select_in" placeholder="Leave it blank for unlimites.">
              </mat-form-field>
            </div>
          </div>

          <div class="in-form-row">
            <mat-label class="form-input-label reg-16">Pass mark</mat-label><br />
            <div class="mt2">
              <mat-form-field appearance="outline" class="form-field">
                <input matInput class="select_in">
              </mat-form-field>
            </div>
          </div>

          <div class="in-form-row expiry-days">
            <mat-label class="form-input-label reg-16">Expiry days</mat-label>

            <div class="calendar-input-field">
              <input matInput class="number-two">
            </div>

            <p class="reg-12 text-grey">The quiz will be expired X days after purchase</p>

          </div>

        </div>

        <div class="toggle-lines-parent-div">

          <div class="result-statistics">
            <div class="my-quizzer-heading-div">
              <p class="reg-16">Display questions randomly</p>

              <div class="quizzers-arrow-line-div">
                <mat-icon class="mat-18 quizzers-arrow-icon">play_arrow</mat-icon>
                <p class="quizzers-pink-line m0"></p>
              </div>
            </div>

            <div class="text-with-toggle-div">
              <!-- <p>Show only open results</p> -->
              <mat-slide-toggle></mat-slide-toggle>
            </div>

          </div>

          <div class="result-statistics">
            <div class="my-quizzer-heading-div">
              <p class="reg-16">Certificate included</p>

              <div class="quizzers-arrow-line-div">
                <mat-icon class="mat-18 quizzers-arrow-icon">play_arrow</mat-icon>
                <p class="quizzers-pink-line m0"></p>
              </div>
            </div>

            <div class="text-with-toggle-div">
              <!-- <p>Show only open results</p> -->
              <mat-slide-toggle></mat-slide-toggle>
            </div>

          </div>

          <div class="result-statistics">
            <div class="my-quizzer-heading-div">
              <p class="reg-16">Active quiz</p>

              <div class="quizzers-arrow-line-div">
                <mat-icon class="mat-18 quizzers-arrow-icon">play_arrow</mat-icon>
                <p class="quizzers-pink-line m0"></p>
              </div>
            </div>

            <div class="text-with-toggle-div">
              <!-- <p>Show only open results</p> -->
              <mat-slide-toggle></mat-slide-toggle>
            </div>

          </div>

        </div>

        <div class="buttons-div">
          <button class="save-button med-14">Create</button>
          <button class="close-button med-14">Close</button>
        </div>

      </div>

    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion>
    <mat-expansion-panel expanded="">
      <mat-expansion-panel-header>
        <!-- <mat-panel-title> -->
        <div class="expansion-panel-head">


          <div class="">
            <img src="assets/Courses/Group 340577.png" alt="">
          </div>

          <div class="my-quizzer-heading-div-in">


            <!-- <div class="my-quizzer-heading-div-2"> -->

            <div class="expansion-panel-head-text">
              <p class="med-16">New Quiz</p>
              <!-- <p class="med-12 text-grey">4 Topics | 0:00 Hr</p> -->
            </div>

            <div class="quizzers-arrow-line-div">
              <mat-icon class="mat-18 quizzers-arrow-icon">play_arrow</mat-icon>
              <p class="quizzers-pink-line m0"></p>
            </div>

            <!-- </div> -->

          </div>

        </div>
        <!-- </mat-panel-title> -->
      </mat-expansion-panel-header>

      <div class="child-expansion-panel-inner-content">

        <div class="grid-div">

          <div class="in-form-row">
            <mat-label class="form-input-label reg-16">Language</mat-label><br />
            <div class="mt2">
              <mat-form-field appearance="outline" class="form-field">
                <mat-select class="select_in">
                  <mat-option value="English">English</mat-option>
                  <mat-option value="Hindi">Hindi</mat-option>
                  <mat-option value="Spanish">Spanish</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="in-form-row">
            <mat-label class="form-input-label reg-16">Quiz Title</mat-label><br />
            <div class="mt2">
              <mat-form-field appearance="outline" class="form-field">
                <input matInput class="select_in" placeholder="">
              </mat-form-field>
            </div>
          </div>

          <div class="in-form-row">
            <mat-label class="form-input-label reg-16">Time (Minutes)</mat-label><br />
            <div class="mt2">
              <mat-form-field appearance="outline" class="form-field">
                <input matInput class="select_in" placeholder="Leave it blank for unlimites.">
              </mat-form-field>
            </div>
          </div>

          <div class="in-form-row">
            <mat-label class="form-input-label reg-16">Number of atempts</mat-label><br />
            <div class="mt2">
              <mat-form-field appearance="outline" class="form-field">
                <input matInput class="select_in" placeholder="Leave it blank for unlimites.">
              </mat-form-field>
            </div>
          </div>

          <div class="in-form-row">
            <mat-label class="form-input-label reg-16">Pass mark</mat-label><br />
            <div class="mt2">
              <mat-form-field appearance="outline" class="form-field">
                <input matInput class="select_in">
              </mat-form-field>
            </div>
          </div>

          <div class="in-form-row expiry-days">
            <mat-label class="form-input-label reg-16">Expiry days</mat-label>

            <div class="calendar-input-field">
              <input matInput class="number-two">
            </div>

            <p class="reg-12 text-grey">The quiz will be expired X days after purchase</p>

          </div>

        </div>

        <div class="toggle-lines-parent-div">

          <div class="result-statistics">
            <div class="my-quizzer-heading-div">
              <p class="reg-16">Display questions randomly</p>

              <div class="quizzers-arrow-line-div">
                <mat-icon class="mat-18 quizzers-arrow-icon">play_arrow</mat-icon>
                <p class="quizzers-pink-line m0"></p>
              </div>
            </div>

            <div class="text-with-toggle-div">
              <!-- <p>Show only open results</p> -->
              <mat-slide-toggle></mat-slide-toggle>
            </div>

          </div>

          <div class="result-statistics">
            <div class="my-quizzer-heading-div">
              <p class="reg-16">Certificate included</p>

              <div class="quizzers-arrow-line-div">
                <mat-icon class="mat-18 quizzers-arrow-icon">play_arrow</mat-icon>
                <p class="quizzers-pink-line m0"></p>
              </div>
            </div>

            <div class="text-with-toggle-div">
              <!-- <p>Show only open results</p> -->
              <mat-slide-toggle></mat-slide-toggle>
            </div>

          </div>

          <div class="result-statistics">
            <div class="my-quizzer-heading-div">
              <p class="reg-16">Active quiz</p>

              <div class="quizzers-arrow-line-div">
                <mat-icon class="mat-18 quizzers-arrow-icon">play_arrow</mat-icon>
                <p class="quizzers-pink-line m0"></p>
              </div>
            </div>

            <div class="text-with-toggle-div">
              <!-- <p>Show only open results</p> -->
              <mat-slide-toggle></mat-slide-toggle>
            </div>

          </div>

        </div>

        <div class="buttons-div">
          <button class="save-button med-14">Create</button>
          <button class="close-button med-14">Close</button>
        </div>

      </div>

    </mat-expansion-panel>
  </mat-accordion>



  <div class="cardarticlediv">
    <mat-card>
      <mat-card-content>
        <div class="cardsection">
          <img src="assets/Courses/Group 340572.png" alt="">
          <div class="quizspan"><span class="spanarticle med-24">No Quizz is selected for this course.</span></div>
          <div class="spanpara">
            <span class="reg-16 text-grey">By creating quizzes you can evaluate students and award certificates to
              them.</span>
          </div>
          <!-- <div class="buttonpart">
                  <button mat-raised-button color="accent">Create an article</button>
              </div> -->
        </div>
      </mat-card-content>
    </mat-card>
  </div>

</div>