<!-- identity-financial works! -->
<!-- skills-topics -->
<div class="main-div">


    <!-- sub hedaing  -->
    <div class="sub-heading-div">
        <p class="sub-heading">Identity & financial</p>
        <i class="aroowline  fa-solid fa-caret-right"></i>
        <p class="arrow-line"></p>
    </div>

    <!-- sub hedaing close -->
    <p class="text-red">Your identity and financial information not verified so it might cause delay in the payout
        process. Please define them using following fields.</p>
    <!-- input field divs -->
    <div class="identity-main">
        <div class="in-form-row select-form">
            <mat-label class="form-input-label">Select account type </mat-label>
            <div class="">
                <!-- <mat-form-field appearance="outline" class="form-field"> -->
                <mat-select class="select_in">
                    <mat-option value="red">Red</mat-option>
                    <mat-option value="green">Green</mat-option>
                    <mat-option value="blue">Blue</mat-option>
                </mat-select>
                <!-- </mat-form-field> -->
            </div>
        </div>


        <!-- file type -->
        <div class="identity-2-file-field">
            <div class="identity-field">
                <p class="input-head-text">Identity scan</p>
                <div class="upload-input-div">
                    <label for="accessibility" class="upload-image-div">
                        <img src="../../../assets/Setting/identify-financial/upload.png" alt="">
                    </label>
                    <input hidden type="file" class="input" id="accessibility">
                    <span class="placeholder">/store/1015/passport.jpg</span>
                </div>
            </div>
            <div class="identity-field">
                <p class="input-head-text">Certificates & Documents</p>
                <div class="upload-input-div">
                    <label for="accessibility" class="upload-image-div">
                        <img src="../../../assets/Setting/identify-financial/upload.png" alt="">
                    </label>
                    <input hidden type="file" class="input" id="accessibility">
                    <span class="placeholder">/store/1015/certificate_validation.jpg</span>
                </div>
            </div>
        </div>
        <!-- file type close  -->

        <div class="Biography-input-div-2">
            <mat-label class="Biography-form-input">Address</mat-label>
            <mat-form-field appearance="outline">
                <input matInput class="input-space" placeholder="Al Wakrah ,27904 Hilpert Knoll">
            </mat-form-field>
        </div>

    </div>
    <!-- input field divs close -->

    <!-- Buttons -->

    <div class="btnMain">

        <div class="btn-container">
            <button mat-raised-button class="pink-btn dull">Previous</button>
            <button mat-raised-button class="pink-btn">Next</button>
        </div>


        <div class="btn-container">
            <button mat-raised-button class="red-btn" (click)="DeleteAccount()">Delete Account</button>
            <button mat-raised-button class="green-btn">Save</button>
        </div>

    </div>



</div>
<!-- identity-financial works! close -->