<div class="page-container-div">

  <p class="my-result-heading">Marketing</p>




  <!-- My certificates -->
  <div class="result-statistics-div">
    <div class="result-statistics">
      <div class="my-quizzer-heading-div">
        <p>Select a promotion plan</p>

        <div class="quizzers-arrow-line-div">
          <mat-icon class="mat-18 quizzers-arrow-icon">play_arrow</mat-icon>
          <p class="quizzers-pink-line m0"></p>
        </div>
      </div>

    </div>

  </div>
  <div class="text-center ">

    <div class="card-flex">

      <mat-card class="boxshado">
        <mat-card-content class="relat_div">
          <div class="btn_upr_div">
            <div class="ab_div">
              <img src="assets/Financial/image 92 (2).png" alt="cup" class="img_div" />
            </div>
            <div class="bronze">
              <button mat-button class="btn_bro upercase">Bronze</button>
            </div>
          </div>
          <div class="p2-btn-gren">
            <mat-card-title class="excel_para ">
              For 15 days
            </mat-card-title>
            <!-- <p class="excel_para mt20 upercase"></p> -->
            <p class="gren_text ">$20</p>
            <p class="excel_para2 ">One of your classes will be displayed at the top of the category list</p>
            <div class="pur_btn">
              <button mat-button class="">Purchase</button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="boxshado">
        <mat-card-content class="relat_div">
          <div class="btn_upr_div">
            <div class="ab_div">
              <img src="assets/Financial/image 92.png" alt="cup" class="img_div" />
            </div>
            <div class="gold">
              <button mat-button class="btn_bro upercase">Gold</button>
            </div>
          </div>
          <div class="p2-btn-gren">
            <mat-card-title class="excel_para ">
              For 15 days
            </mat-card-title>
            <!-- <p class="excel_para mt20 upercase"></p> -->
            <p class="gren_text ">$100</p>
            <p class="excel_para2 ">One of your classes will be displayed at the homepage slider</p>
            <div class="pur_btn">
              <button mat-button class="">Purchase</button>
            </div>
          </div>

        </mat-card-content>
      </mat-card>
      <mat-card class="boxshado">
        <mat-card-content class="relat_div">
          <div class="btn_upr_div">
            <div class="ab_div">
              <img src="assets/Financial/image 92 (1).png" alt="cup" class="img_div" />
            </div>
            <div class="silver">
              <button mat-button class="btn_bro upercase">Silver</button>
            </div>
          </div>
          <div class="p2-btn-gren">
            <mat-card-title class="excel_para">
              For 15 days
            </mat-card-title>
            <!-- <p class="excel_para mt20 upercase"></p> -->
            <p class="gren_text ">$40</p>
            <p class="excel_para2 ">One of your classes will be displayed at the top of the category list</p>
            <div class="pur_btn">
              <button mat-button class="">Purchase</button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

    </div>
  </div>


  <mat-card class="outer-instructor">
    <!-- <i class="fa-regular fa-circle-down text-xl text-end p-4 "></i> -->
    <mat-card-content class="inner-instructor  ">
      <img src="assets/Markating/Group 340281 (1).png" alt="" class="img-course">
      <p class="heading-content-instructor">
        No Promotion!</p>
      <p class="content-instructor">
        By activating promotion plans you can increase your courses view and sales.</p>



    </mat-card-content>
  </mat-card>
</div>