<!-- My article page starts -->
<div class="uppersection">
  <div class="result-statistics-div">
    <div class="result-statistics">
      <div class="my-quizzer-heading-div">
        <p>Articles Statistics</p>

        <div class="quizzers-arrow-line-div">
          <mat-icon class="mat-18 quizzers-arrow-icon">play_arrow</mat-icon>
          <p class="quizzers-pink-line "></p>
        </div>
      </div>

    </div>


    <div class="card-grid-div">

      <!-- First Card -->
      <mat-card>

        <div class="card-top">

          <div>
            <img src="../../../assets/Articleimages/Images/image 143.png" alt="">
          </div>

          <div>
            <img src="../../../assets/Articleimages/Images/Group 340237.png" alt="" class="barimage">
          </div>

        </div>


        <div class="card-down">

          <p class="card-medium">0</p>

          <p class="card-bottom">Articles</p>

        </div>

      </mat-card>

      <!-- Second Card -->
      <mat-card>

        <div class="card-top">

          <div>
            <img src="../../../assets/Articleimages/Images/articlebrainimage.png" alt="">
          </div>

          <div>
            <img src="../../../assets/Articleimages/Images/Group 340237.png" alt="">
          </div>

        </div>

        <div class="card-down">

          <p class="card-medium">0</p>

          <p class="card-bottom">Comments</p>

        </div>

      </mat-card>

      <!-- Third Card -->
      <mat-card>

        <div class="card-top">

          <div>
            <img src="../../../assets/Articleimages/Images/articlegroupperson.png" alt="">
          </div>

          <div>
            <img src="../../../assets/Articleimages/Images/Group 340237.png" alt="">
          </div>

        </div>

        <div class="card-down">

          <p class="card-medium">0</p>

          <p class="card-bottom">Pending for Publish</p>

        </div>

      </mat-card>


    </div>
    <div class="result-statistics">
      <div class="my-quizzer-heading-div">
        <p>Articles</p>

        <div class="quizzers-arrow-line-div">
          <mat-icon class="mat-18 quizzers-arrow-icon">play_arrow</mat-icon>
          <p class="quizzers-pink-line "></p>
        </div>
      </div>

    </div>

    <!-- card div starts -->
    <div class="cardarticlediv">
      <mat-card>
        <mat-card-content>
          <div class="cardsection">
            <img src="../../../assets/Articleimages/Images/clockarticleimage.png" alt="">
            <span class="spanarticle">No Articles!</span>
            <div class="spanpara">
              <span>Create your first acticle and share your knowledge.</span>
            </div>
            <div class="buttonpart">
              <button mat-raised-button color="accent">Create an article</button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

  </div>

</div>