<div class="page-container-div">

    <p class="my-result-heading">Marketing</p>




    <!-- My certificates -->
    <div class="result-statistics-div">
        <div class="result-statistics">
            <div class="my-quizzer-heading-div">
                <p>New course discount</p>

                <div class="quizzers-arrow-line-div">
                    <mat-icon class="mat-18 quizzers-arrow-icon">play_arrow</mat-icon>
                    <p class="quizzers-pink-line m0"></p>
                </div>
            </div>

        </div>

    </div>

    <!-- form div start  -->

    <div class="form-div">

        <div class="form-row">

            <div class="in-form-row">
                <mat-label class="form-input-label">From </mat-label><br />

                <div class="calendar-input-field">

                    <mat-form-field appearance="outline" class="form-field">
                        <img src="assets/instructor/Group 340247.png" alt="" class="calendar-img">

                        <input matInput class="input">

                    </mat-form-field>

                </div>

            </div>

            <div class="in-form-row">
                <mat-label class="form-input-label">To</mat-label><br />

                <div class="calendar-input-field">

                    <mat-form-field appearance="outline" class="form-field">
                        <img src="assets/instructor/Group 340247.png" alt="" class="calendar-img">

                        <input matInput class="input">

                    </mat-form-field>

                </div>

            </div>
            <div class="in-form-row">
                <mat-label class="form-input-label">Course</mat-label><br />
                <div class="mt2">
                    <mat-form-field appearance="outline" class="form-field">
                        <mat-select class="select_in" [(value)]="selected">
                            <mat-option value="All">Select a course</mat-option>
                            <mat-option value="green">Green</mat-option>
                            <mat-option value="blue">Blue</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>


        </div>


        <div class="form-row">

            <div class="in-form-row">
                <mat-label class="form-input-label">Type</mat-label><br />

                <div class="calendar-input-field">

                    <mat-form-field appearance="outline" class="form-field">

                        <input matInput class="input">

                    </mat-form-field>

                </div>

            </div>
            <div class="in-form-row">
                <mat-label class="form-input-label">Amount(%)</mat-label><br />

                <div class="calendar-input-field">

                    <mat-form-field appearance="outline" class="form-field">

                        <input matInput class="input">

                    </mat-form-field>

                </div>

            </div>

            <div class="in-form-row button-div">
                <button mat-raised-button class="show-result-button">Create</button>
            </div>
        </div>



    </div>



    <mat-card class="outer-instructor">
        <!-- <i class="fa-regular fa-circle-down text-xl text-end p-4 "></i> -->
        <mat-card-content class="inner-instructor  ">
            <img src="assets/Markating/Group 340281 (1).png" alt="" class="img-course">
            <p class="heading-content-instructor">
                No discount is available...</p>
            <p class="content-instructor">
                By activating promotion plans you can increase your courses view and sales.</p>



        </mat-card-content>
    </mat-card>
</div>