<div class="pricing-main-div" *ngIf="!isShowNewPlan">

    <div>
        <div class="result-statistics">
            <div class="my-quizzer-heading-div">
                <p class="med-16">Enable Subscribe</p>

                <div class="quizzers-arrow-line-div">
                    <mat-icon class="mat-18 quizzers-arrow-icon">play_arrow</mat-icon>
                    <p class="quizzers-pink-line m0"></p>
                </div>
            </div>

            <div class="text-with-toggle-div">
                <!-- <p>Show only open results</p> -->
                <mat-slide-toggle checked=""></mat-slide-toggle>
            </div>
        </div>

        <!-- <div class="reg-12 text-grey course-forum-text-div">- Students will be able to subscribe to your content in
            addition of direct purchasing.</div> -->

    </div>

    <div class="in-form-row">
        <mat-label class="form-input-label reg-16">Access Period (Days) (Optional) </mat-label>

        <div class="calendar-input-field">

            <input matInput class="input" placeholder="365">

        </div>
        <p class="reg-12 text-grey">- The user must repurchase after expiring course access period.</p>

    </div>

    <div class="in-form-row">
        <mat-label class="form-input-label reg-16">Price ($)</mat-label>

        <div class="calendar-input-field">

            <input matInput class="input" placeholder="Enter 0 for free">

        </div>

    </div>

    <div class="in-form-row">
        <div class="my-quizzer-heading-div">
            <mat-label class="form-input-label med-16">Pricing Plans (Optional)</mat-label>

            <div class="quizzers-arrow-line-div">
                <mat-icon class="mat-18 quizzers-arrow-icon">play_arrow</mat-icon>
                <p class="quizzers-pink-line m0"></p>
            </div>
        </div>

        <p class="reg-12 text-grey">- Pricing plans will help you to create time & capacity depended prices for your
            content.</p>
        <p class="reg-12 text-grey">- You can create pricing plans for a limited time or limited number of course
            students.</p>
        <p class="reg-12 text-grey">- If you don't create a pricing plan, your course base price will be considered.</p>
    </div>

    <button class="butten-2" (click)="toggleNewPlan()">New Plan</button>

    <div class="no-pricing-plan-div">
        <div>
            <img src="assets/Courses/Group 340482.png" alt="">
        </div>
        <p class="med-24">No pricing plan!</p>
        <p class="reg-16 text-grey">By creating pricing plans you can add time and capacity-depended prices for your
            course.</p>
    </div>

</div>
<ng-container *ngIf="isShowNewPlan">
    <app-courses-pricing-button-new-plan></app-courses-pricing-button-new-plan>
</ng-container>