.main-my-post {
  padding: 6px 10px;
}


.my-result-heading {
  font-size: 30px;
  font-weight: 900;
  border-bottom: 1px solid var(--primary-color);
  text-wrap: nowrap;
  width: 8%;
  padding-bottom: 10px;
  /* margin: 20px; */


}

.page-container-div {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.result-statistics-div {
  padding: 20px 4px;
  margin-top: 20px;
  /* border-top: 1px solid var(--primary-color); */
  position: relative;
}

.result-statistics {
  font-size: 20px;
  font-weight: 500;
  background-color: var(--white);
  display: flex !important;
  flex-direction: row;
  align-items: center !important;
  width: 100%;
  /* justify-content: center; */
  gap: 10px;
  text-wrap: nowrap;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

@media (max-width: 500px) {

  ::ng-deep .result-statistics-div {
    display: flex;
    flex-direction: column;
    gap: 80px;
    /* position: relative; */
  }

  .result-statistics {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    /* position: absolute; */
  }
}

.my-quizzer-heading-div {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 20px;
  font-weight: 600;

}

.result-statistics p {
  margin: 0;
}

.quizzers-arrow-line-div {
  display: flex;
  align-items: center;
  gap: -1;
  width: 100%;
}

.quizzers-arrow-icon {
  color: var(--primary-color);
  font-size: 15px;
  width: fit-content;
  height: 100% !important;
}

.quizzers-pink-line {
  border: 1px solid var(--primary-color);
  width: 100%;
  opacity: 40%;
  padding: 0 !important;
  margin: 0 !important;


}



.form-div {
  padding: 10px 20px;
  box-shadow: 0px 0px 5px 0px var(--grey);
  border-radius: 10px;
}

.form-input-label {
  font-size: 16px;
  font-weight: 500;
}

.calendar-input-field {
  display: flex;
  height: fit-content !important;
  width: 100% !important;
}

.in-form-row {
  width: 100%;
  margin-top: 20px;
}

.form-field {
  width: 100% !important;
  height: fit-content;
  border: var(--grey);
}

.form-row {
  width: 100% !important;
  display: flex !important;
  flex-direction: row;
  gap: 40px;
}

@media (max-width: 700px) {
  .form-row {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}

.button-div {
  padding: 20px 0 !important;
}

.button-div button {
  background-color: var(--primary-color);
  color: var(--white);
}

.show-result-button {
  color: var(--white);
  background-color: var(--primary-color);
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  padding: 28px 0px;
  margin-top: 10px;
}


::ng-deep .calendar-input-field .mat-mdc-form-field-infix {
  display: flex !important;
  flex-direction: row !important;
  gap: 10px;
  padding: 0 !important;
  width: 100% !important;
}

::ng-deep .calendar-input-field .mdc-text-field {
  padding: 0 !important;
}

::ng-deep .calendar-input-field {
  width: 100% !important;
}

::ng-deep .mat-mdc-text-field-wrapper {
  width: 100% !important;
}

::ng-deep .form-field {
  width: 100% !important;
}

.select_in {
  padding: 0px 10px;
}

/* mat card */


.outer-instructor {
  margin: 20px;
  box-shadow: 4px 4px 4px 4px #F5F5F5;

}

.inner-instructor {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.heading-content-instructor {
  color: black;
  font-family: Poppins;
  font-size: 24px;
  font-weight: bold;
  margin-top: 12px;
  text-align: center;
}

.content-instructor {
  font-size: 16px;
  font-weight: 900px;
  font-family: Poppins;
  text-align: center;
  margin: 0px;
  color: var(--grey-sec);
}

@media screen and (max-width:410px) {
  .img-course {
    width: 100%;
  }
}

.mat-card,
.mdc-card {
  background-color: var(--white) !important;
}

/*card style star*/
.card-grid-div {
  display: grid;
  grid-template-columns: auto auto auto auto;
  /* gap: 1rem; */
  margin: 10px;
}

.card-grid-div mat-card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  box-shadow: 0px 0px 5px 0px var(--grey);
  border-radius: 10px;
}

.card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-medium {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 2px !important;
}

.card-bottom {
  font-size: 14px;
  font-weight: 500;
  color: var(--grey-sec) !important;
}

.card-top .img_first {
  height: 64px;
}

.card-top .img_second {
  height: 14px;
  width: 67px;
}

.card-medium {
  font-size: 30px;
  font-weight: 700;
}

.card-bottom {
  color: var(--lightgray);
  font-size: 14px;
  font-weight: 600;
}

@media (min-width: 551px) and (max-width:1130px) {
  .card-grid-div {
    display: grid;
    grid-template-columns: auto auto;
    /* gap: 1rem; */
    margin: 10px;
  }
}

@media screen and (max-width:550px) {
  .card-grid-div {
    display: grid;
    grid-template-columns: auto;
    /* gap: 1rem; */
    margin: 10px;
  }
}

.result-statistics-div:nth-child(1) .my-quizzer-heading-div {
  margin-top: 9px;
}

.main-my-post .card-grid-div {
  margin-top: 34px;
}


.main-my-post .result-statistics .my-quizzer-heading-div {
  padding-inline: 20px;
}

.main-my-post .result-statistics-div:nth-child(3) .quizzers-arrow-line-div {
  width: 90% !important;
}

.tooglespandiv {
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.outer-instructor .mat-mdc-raised-button {
  width: 20% !important;
  margin-top: 14px;
  border-radius: 7px;
  height: 40px !important;
}

.main-my-post .tooglespandiv span {
  color: rgba(193, 193, 193, 0.87);
}

@media (max-width: 630px) {}

.result-statistics {
  font-size: 20px;
  font-weight: 500;
  background-color: var(--white);
  display: flex !important;
  flex-direction: row;
  align-items: center !important;
  width: 100%;
  /* justify-content: center; */
  gap: 10px;
  text-wrap: nowrap;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

@media (max-width: 500px) {
  ::ng-deep .result-statistics-div {
    display: flex;
    flex-direction: column;
    gap: 80px;
    position: relative;
  }

  .result-statistics {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    position: absolute;
  }
}

.my-quizzer-heading-div {
  display: flex;
  align-items: center;
  width: 100%;
}

.result-statistics p {
  margin: 0;
}

.quizzers-arrow-line-div {
  display: flex;
  align-items: center;
  gap: -1;
  width: 100%;
}

.quizzers-arrow-icon {
  color: var(--primary-color);
  font-size: 15px;
  width: fit-content;
  height: 100% !important;
}

.quizzers-pink-line {
  border: 1px solid var(--primary-color);
  width: 100%;
  opacity: 40%;
  padding: 0 !important;
  margin: 0 !important;
}

.text-with-toggle-div {
  display: flex;
  gap: 8px;
  font-size: 20px;
  font-weight: 400;
  color: var(--grlight);
}

@media (max-width: 500px) {
  .text-with-toggle-div {
    margin-bottom: 10px;
  }
}

.arrowlinediv {
  position: relative;
}

.main-my-post .arrowlinediv .result-statistics {
  transform: translatex(-7px) translatey(-25px) !important;
  height: 28px !important;
}

.main-my-post .outer-instructor {
  margin-top: 39px !important;
}

@media (max-width:501px) {

  /* Quizzer heading div */
  .arrowlinediv .result-statistics .my-quizzer-heading-div {
    transform: translatex(8px) translatey(-7px) !important;
  }

  /* Text with toggle div */
  .main-my-post .result-statistics .text-with-toggle-div {
    margin-top: -20px !important;
  }

}

@media (max-width:599px) {

  /* Mat raised button */
  ::ng-deep .mat-drawer-container .ng-star-inserted .main-my-post .outer-instructor .inner-instructor .mat-mdc-raised-button {
    width: 51% !important;
  }

}

@media (max-width:410px) {

  /* Mat raised button */
  ::ng-deep .mat-drawer-container .ng-star-inserted .main-my-post .outer-instructor .inner-instructor .mat-mdc-raised-button {
    width: 50% !important;
  }

}


.select_in {
  padding-left: 10px;
  padding-right: 10px
}

@media (max-width: 780px) {
  .outer-instructor img {
    width: 50% !important;
  }

  .contentpara {
    padding-inline: 10px;
  }

  .main-my-post .outer-instructor {
    margin-bottom: 70px !important;
  }

}

@media (min-width: 769px) and (max-width: 935px) {
  .main-my-post .result-statistics-div {
    margin-top: 80px !important;
  }

}


/* end */