<div class="main-my-post" *ngIf="!isShowNewPlan">
    <!-- <p class="my-result-heading">Support</p> -->





    <!-- Result Statistics -->
    <div class="result-statistics-div">
        <div class="result-statistics">
            <div class="my-quizzer-heading-div">
                <p>My activity</p>

                <div class="quizzers-arrow-line-div">
                    <mat-icon class="mat-18 quizzers-arrow-icon">play_arrow</mat-icon>
                    <p class="quizzers-pink-line "></p>
                </div>
            </div>

        </div>
    </div>


    <!--cards-->
    <div class="card-grid-div">
        <!-- First Card -->
        <mat-card>
            <div class="card-top">
                <div>
                    <img src="assets/CourseImage/Images/invitedcourseimage_1.png" alt="" class="img_first">
                </div>
                <div>
                    <img src="assets/CourseImage/Images/invitedcoursimage_rowline.png" alt="" class="img_second">
                </div>
            </div>
            <div class="card-down">
                <p class="card-medium">1</p>
                <p class="card-bottom">Courses</p>
            </div>
        </mat-card>
        <!-- Second Card -->
        <mat-card>
            <div class="card-top">
                <div>
                    <img src="assets/CourseImage/Images/invitedcourseimage_2.png" alt="" class="img_first">
                </div>
                <div>
                    <img src="assets/CourseImage/Images/invitedcoursimage_rowline.png" alt="" class="img_second">
                </div>
            </div>
            <div class="card-down">
                <p class="card-medium">1</p>
                <p class="card-bottom">Hours</p>
            </div>
        </mat-card>
        <!-- Third Card -->
        <mat-card>
            <div class="card-top">
                <div>
                    <img src="assets/CourseImage/Images/invitedcourseimage_3.png" alt="" class="img_first">
                </div>
                <div>
                    <img src="assets/CourseImage/Images/invitedcoursimage_rowline.png" alt="" class="img_second">
                </div>
            </div>
            <div class="card-down">
                <p class="card-medium">2</p>
                <p class="card-bottom">Total Live class sales</p>
            </div>
        </mat-card>
        <!-- fourth card -->
        <mat-card>
            <div class="card-top">
                <div>
                    <img src="assets/CourseImage/Images/invitedcourseimage_4.png" alt="" class="img_first">
                </div>
                <div>
                    <img src="assets/CourseImage/Images/invitedcoursimage_rowline.png" alt="" class="img_second">
                </div>
            </div>
            <div class="card-down">
                <p class="card-medium">2</p>
                <p class="card-bottom">Total Live class sales</p>
            </div>
        </mat-card>

    </div>
    <!--end cards-->





    <!-- Result Statistics -->
    <!-- <div class="result-statistics-div">
        <div class="result-statistics">
            <div class="my-quizzer-heading-div">
                <p>My courses</p>
    
                <div class="quizzers-arrow-line-div">
                    <mat-icon class="mat-18 quizzers-arrow-icon">play_arrow</mat-icon>
                    <p class="quizzers-pink-line "></p>
                    <div class="tooglespandiv">
                        <span> Only not conducted live classes
                                        </span>
                                        <mat-slide-toggle></mat-slide-toggle>
                    </div>
                </div>
            </div>
    
        </div>
        </div> -->
    <div class="arrowlinediv">
        <div class="result-statistics">
            <div class="my-quizzer-heading-div">
                <p>My quizzes</p>
                <div class="quizzers-arrow-line-div">
                    <mat-icon class="mat-18 quizzers-arrow-icon">play_arrow</mat-icon>
                    <p class="quizzers-pink-line m0"></p>
                </div>
            </div>
            <div class="text-with-toggle-div">
                <p>Show only open results</p>
                <mat-slide-toggle (click)="toggleNewPlan()" checked=""></mat-slide-toggle>
            </div>
        </div>
    </div>

    <mat-card class="outer-instructor">
        <!-- <i class="fa-regular fa-circle-down text-xl text-end p-4 "></i> -->
        <mat-card-content class="inner-instructor  ">
            <img src="assets/CourseImage/Images/coursecomputerimage.png" alt="" class="img-course">
            <p class="heading-content-instructor">
                No Course!</p>
            <div class="contentpara">
                <p class="content-instructor">
                    Create your first course and let others learn from you.</p>
            </div>
            <button mat-raised-button color="accent">Create a course</button>




        </mat-card-content>
    </mat-card>

</div>




<ng-container *ngIf="isShowNewPlan">
    <app-course-invitedcourse></app-course-invitedcourse>
</ng-container>