<div class="popupdiv">


    <div class="main-div">
        <div class="head"> Reply to the comment</div>
        <div class="new-form">
            <div class="spandiv">
                <span>Thanks a lot for your comment, Best regards.</span>
            </div>
            <div class="new-form-label">Reply to the comment</div>
           <textarea class="textareapart">Great course that gives you the basic knowledge needed to become a product manager.
           </textarea>
        </div>
        <div class="buttons-div">
            <button mat-raised-button mat-dialog-close class="yesBtn"  >Save</button>
            <button mat-dialog-close class="pop-closeBtn">Close</button>

        </div>
    </div>
</div>
