.new-page {
    margin-top: 20px;
}

/* ------------------------------------heading css-------------------- */

.heading-tag {
    margin-top: 10px;
    margin: 0px;
    font-size: 30px;
    font-weight: 500;
}

.hr-line {
    margin-top: 10px;
    width: 180px;
    border: 1px solid var(--primary-color);
}

/* ------------------------------------heading css-------------------- */

/* ------------------------------------arrow-------------------- */

.arrow-line {
    width: 100%;
    border-bottom: 2px solid var(--lighpink);
}

.sub-heading-div {
    display: flex;
    position: relative;
    align-items: center;
    /* margin: 25px 0; */
}

.aroowline {
    position: absolute;
    top: 3px;
    left: 85px;
    font-size: 14px;
    color: var(--lighpink);
}

.aroowline-2 {
    position: absolute;
    top: 3px;
    left: 210px;
    font-size: 14px;
    color: var(--lighpink);
}

.sub-heading {
    font-size: 20px;
    text-wrap: nowrap;
    margin-right: 10px;
    font-weight: 600;
}

/* ------------------------------------arrow-------------------- */

/* ------------------------------------input Field-------------------- */


.new-form {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.new-form-label {
    font-size: 16px;
    color: var(--black);
    font-weight: 400;
}

.selected-form-field {
    display: flex;
    position: relative;
    align-items: center;
}

.select-input {
    height: 2.8rem;
    border: 0.5px solid var(--grey);
    border-radius: 0.3rem;
    width: -webkit-fill-available;
    padding: 0.5rem;
    margin-top: 0.3rem;
    color: var(--grey-sec);
}

.dual-down-arrow {
    position: absolute;
    right: 0.4rem;
    top: 1.2rem;
}

.select-input {
    appearance: none;
}

/* ------------------------------------input Field-------------------- */


.main-input-fields-div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.mat-input-class {
    height: 2rem;
    border: 0.5px solid var(--grey);
    border-radius: 0.2rem;
    width: -webkit-fill-available;
    padding: 25px 4px;
}


.icon-relative-div {
    min-width: fit-content;
    display: flex;
    border: 0.5px solid var(--grey);
    border-radius: 6px;
    overflow: hidden;
}

.icon-relative-div .mat-input-class {
    height: 2rem;
    width: -webkit-fill-available;
    padding: 0.5rem;
    border: none !important;
    margin-top: 8px;
}

.arrow-Icon {
    padding: 10px;
    background-color: var(--blue);
    color: var(--white);
}

.demo-viedo-input-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    gap: 20px;
    margin: 10px 0;
}

.demo-viedo-input-field .select-input {
    height: 3.2rem;
}

.demo-viedo-input-field .dual-down-arrow {
    top: 1.4rem;
}

.buttons-div {
    margin: 20px 0;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.butten-1 {
    margin-top: 10px;
    color: var(--white);
    background-color: var(--lighpink);
    padding: 22px 30px;
    margin-right: 10px;
}

.butten-2 {
    margin-top: 10px;
    color: var(--white);
    background-color: var(--primary-color);
    padding: 22px 30px;
    margin-right: 10px;
}

.butten-3 {
    margin-top: 10px;
    color: var(--white);
    background-color: var(--red);
    padding: 22px 30px;
    margin-right: 10px;
}



@media screen and (min-width: 800px) {
    .demo-viedo-input-field {
        display: flex;
        flex-direction: row;
        width: 80%;
        gap: 20px;
    }

}

@media screen and (min-width: 900px) {

    .buttons-div {
        margin: 20px 0;
        gap: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

::ng-deep .new-page .mat-horizontal-content-container {
    overflow: hidden;
}

::ng-deep .new-page .mat-mdc-input-element:focus {
    outline: none !important;
}

::ng-deep .new-page .select:focus {
    outline: none !important;
}

::ng-deep .new-page .mat-mdc-input-element:focus {
    outline: none !important;
}

::ng-deep .main-input-fields-div .new-form select {
    outline: none !important;
}

::ng-deep .demo-viedo-input-field .new-form select {
    outline: none !important;
}

.texteditr {
    color: var(--grey-sec);
    font-size: 20px;
}






.my-quizzer-heading-div {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 20px;
    font-weight: 600;

}

.quizzers-arrow-line-div {
    display: flex;
    align-items: center;
    gap: -1;
    width: 100%;
}

.quizzers-pink-line {
    border: 1px solid var(--lighpink);
    width: 100%;
    opacity: 40%;
    padding: 0 !important;
    margin: 0 !important;

}

.quizzers-arrow-icon {
    margin-right: -10px;
    color: var(--lighpink);
    font-size: 15px;
    min-width: fit-content;
    height: 100% !important;
}

.med-16 {
    font-size: 16px;
    font-weight: 500;
    text-wrap: nowrap;
}