.My-Up-Coming-Courses {
    padding: 10px;
}



/* ------------------------------------heading css-------------------- */

.heading-tag {
    margin-top: 10px;
    margin: 0px;
    font-size: 30px;
    font-weight: 500;
}

.hr-line {
    margin-top: 10px;
    width: 180px;
    border: 1px solid var(--primary-color);
}

/* ------------------------------------heading css close-------------------- */




/* ------------------------------------arrow-------------------- */
.sub-heading-div {
    display: flex;
    position: relative;
    align-items: center;
    margin: 30px 0 10px 0;
    width: 100%;

}

.sub-heading {
    font-size: 20px;
    text-wrap: nowrap;
    margin-right: 10px;
}

@media screen and (max-width: 550px) {
    .sub-heading {
        font-size: 15px;
        text-wrap: nowrap;
        margin-right: 10px;
    }

    .toggle-with-line .aroowline-3 {
        position: absolute !important;
        top: 18px !important;
        left: 140px !important;
        font-size: 14px !important;
        color: var(--lighpink) !important;
    }

    .toggle-text {
        font-size: 15px !important;
        color: var(--grey-sec);
        /* flex-wrap: nowrap !important; */
        text-wrap: wrap !important;
        margin: 0 10px;
    }

    ::ng-deep .mat-drawer-container .mat-drawer-content .ng-star-inserted .My-Up-Coming-Courses div .sub-heading-div .material-icons {
        left: 170px !important;
        top: 20px !important;
    }
}


/* Courses mat card div */
.My-Up-Coming-Courses .mat-mdc-card .courses-mat-card-div {
    padding: 15px 20px !important;
}


.aroowline {
    position: absolute;
    top: 21px;
    left: 170px;
    font-size: 14px;
    color: var(--lighpink);
}

.aroowline-2 {
    position: absolute;
    top: 18px;
    left: 152px;
    font-size: 14px;
    color: var(--lighpink);
}

.arrow-line {
    width: 100%;
    border-bottom: 2px solid var(--lighpink);
}

.med-16 {
    font-size: 16px;
    font-weight: 500;
}

/* ------------------------------------arrow close-------------------- */


/* ------------------------------------card-------------------- */


.mat-card-div {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-right: 6px;
    gap: 1rem;
}

.mat-card-div mat-card {
    width: 100% !important;
}

@media (min-width: 551px) and (max-width:1130px) {
    .mat-card-div {
        display: grid;
        grid-template-columns: auto auto;
        /* gap: 1rem; */
        margin: 10px;
    }
}

@media screen and (max-width:550px) {
    .mat-card-div {
        display: grid;
        grid-template-columns: auto;
        /* gap: 1rem; */
        margin: 10px;
    }
}

.support-card-border {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px !important;
    width: 100%;
    /* margin: 10px; */
    padding-left: 10px;
}

.support-contaent-div {
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.suppoet-icon-envelop {
    width: 70px;
}

.suppoet-img {
    /* width: 2rem; */
    /* height: 20px; */
}

.icon-img-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-1 {
    font-size: 24px;
    font-weight: 600;
    margin: 0px;
}

.text-2 {
    font-size: 14px;
    color: var(--grey-sec);
    font-weight: 500;
    margin: 0px;
}




@media screen and (min-width: 800px) {

    .support-card-border {
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px !important;
        width: 32%;
    }

    .in-form-row {
        border-radius: 5px;
        width: 40% !important;
    }

    .bonus-img-div {
        display: flex;
        flex-direction: row !important;
        justify-content: space-between;
    }

    .bonus-imagee {
        width: 100% !important;
    }

}

@media screen and (min-width: 1000px) {
    .bonus-card-div {
        display: flex;
        flex-direction: row;
        margin: 20px;
        gap: 20px;
    }
}

/* ------------------------------------card close-------------------- */

/* ------------------------------------UP COMMING COURCE -------------------- */
.img-div {
    display: flex;
    justify-content: center;
    position: relative;
    margin-left: 4px;
}

.cource-mat-card-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */

}

.hedaing-and-button {
    display: flex;
    justify-content: space-between !important;
    align-items: center !important;
    /* padding-top: 20px !important; */
}

@media screen and (max-width: 900px) {
    .cource-mat-card-content {
        align-items: center !important;
        justify-content: space-between !important;
    }


}

.card-heading {
    font-size: 22px;
    font-weight: 500;
    color: var(--blue);
    margin-left: 10px;
}

@media screen and (min-width: 900px) {
    .card-heading {
        font-size: 28px;
        color: var(--blue);
    }
}

.card-button {
    color: var(--primary-color) !important;
    border: 1px solid var(--primary-color);
    font-size: 20px !important;
    padding: 0 30px 0 30px !important;
    margin-left: 10px;

}

.detail-heading {
    font-size: 16px;
    font-weight: 400;
    color: var(--grey-sec);
    margin: 10px;
}

.detail-heading-2 {
    font-size: 16px;
    font-weight: 400;
    margin: 10px;

}



.courses-mat-card-div {
    display: flex !important;
    flex-direction: column !important;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px !important;
    /* margin: 10px 0 10px 0; */
    padding: 10px;

}


@media screen and (min-width: 900px) {

    .courses-mat-card-div {
        display: flex !important;
        flex-direction: row !important;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px !important;
    }
}


.img-2-div-absulute {
    position: absolute;
    left: -10px;
    top: -10px;
}

.three-dot-button {
    display: flex;
    justify-content: end !important;
    float: left !important;
}

.hedaing-and-button-btn-and-live {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

::ng-deep .mat-mdc-elevation-specific .mat-mdc-menu-item span:hover {
    color: var(--primary-color) !important;
}






/* ------------------------------------UP COMMING COURCE close-------------------- */

/* ------------------------------------TOGGLE With line -------------------- */


.toggle-div {
    display: flex;
    align-items: center;
}

.toggle-text {
    font-size: 20px;
    color: var(--grey-sec);
    flex-wrap: nowrap !important;
    text-wrap: nowrap;
    margin: 0 10px;
}

.toggle-with-line {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 450px) {
    .toggle-with-line {
        justify-content: center;
        flex-wrap: wrap;
    }
}


.arrow-line {
    width: 100%;
    border-bottom: 2px solid var(--lighpink);
}

.sub-heading-div {
    display: flex;
    position: relative;
    align-items: center;
    /* margin: 25px 0 0 0; */
    width: 100%;
    margin: 0px;
}

.text-toggle .sub-heading-div {
    display: flex;
    position: relative;
    align-items: center;
    /* margin: 15px 0 0 0; */
    width: 100%;
}

.toggle-with-line .aroowline-3 {
    position: absolute !important;
    top: 27px !important;
    left: 224px;
    font-size: 14px !important;
    color: var(--lighpink) !important;
}

/* Support contaent div */
.mat-card-div .mat-mdc-card .support-contaent-div {
    padding: 15px 10px !important;

}


.mat-card,
.mdc-card {
    background-color: var(--white) !important;
}


/* ------------------------------------TOGGLE With line close -------------------- */



.details-divs {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 6px;
    flex-direction: column;
    margin-top: 20px;
    width: --webkit-fill-available;
    justify-content: space-between;
    /* padding: 1rem; */
    /* text-wrap: nowrap; */
}

@media (max-width:420px) {

    .details-divs {
        grid-template-columns: auto;
        padding: 0px;
    }
}
@media (min-width:421px) and (max-width:520px) {

    .details-divs {
        grid-template-columns: auto auto;
        padding: 0px;
    }
}

@media (min-width:521px) and (max-width:899px) {
    .details-divs {
        grid-template-columns: auto auto auto;
        padding: 0px;
    }
}

@media (min-width:900px) and (max-width:1000px) {

    .details-divs {
        grid-template-columns: auto auto;
    }
}

@media (min-width:1001px) and (max-width: 1200px) {
    .details-divs {
        grid-template-columns: auto auto auto;
    }
}