  <!-- buttons div  -->
  <div class="buttons-div">
    <div>
        <button class="butten-2" mat-raised-button>Previous</button>
        <button class="butten-2" mat-raised-button>Next</button>
    </div>
    <div class="buttons-div-2">
        <button class="butten-2" mat-raised-button>Send for Review </button>
        <button class="butten-2" mat-raised-button>Save as Draft </button>

        <button class="butten-2 red-btn" (click)="deletePopup()" mat-raised-button>Delete </button>
    </div>
</div>
<!-- buttons div close -->