<!-- extra information div  -->
<div class="extra-information">
    <!-- input field div -->
    <div class="extra-info-input-div">
        <div class="new-form">
            <mat-label class="new-form-label">Estimated Publish Date</mat-label>
            <div class="icon-relative-div">
                <svg class="arrow-Icon" xmlns="http://www.w3.org/2000/svg" width="3em" height="3em"
                    viewBox="0 0 24 24">
                    <path fill="currentColor"
                        d="M19 4h-2V3a1 1 0 0 0-2 0v1H9V3a1 1 0 0 0-2 0v1H5a3 3 0 0 0-3 3v12a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V7a3 3 0 0 0-3-3m1 15a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-7h16Zm0-9H4V7a1 1 0 0 1 1-1h2v1a1 1 0 0 0 2 0V6h6v1a1 1 0 0 0 2 0V6h2a1 1 0 0 1 1 1Z" />
                </svg>

                <input class="mat-input-class" matInput placeholder="2024-02-15 10:00">
                <span class="dual-down-arrow-input-one"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                        viewBox="0 0 15 15">
                        <path fill="#808080" d="M7.5 12L0 4h15z" />
                    </svg></span>
            </div>
        </div>

        <div class="new-form">
            <mat-label class="new-form-label">Time Zone</mat-label>
            <div class="selected-form-field">
                <select class="select-input">
                    <option value="">America/New_York</option>
                </select>
                <span class="dual-down-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                        viewBox="0 0 15 15">
                        <path fill="#808080" d="M7.5 12L0 4h15z" />
                    </svg></span>
            </div>
        </div>

        <div class="new-form">
            <mat-label class="new-form-label">Capacity</mat-label>
            <input class="mat-input-class" matInput placeholder="50">
            <mat-label class="grey-text">Leave it blank for unlimited.</mat-label>

        </div>
        <div class="new-form">
            <mat-label class="new-form-label">Duration (Minutes)</mat-label>
            <div class="icon-relative-div">

                <svg class="arrow-Icon" xmlns="http://www.w3.org/2000/svg" width="3em" height="3em"
                    viewBox="0 0 24 24">
                    <g fill="none">
                        <path
                            d="M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022m-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z" />
                        <path fill="currentColor"
                            d="M12 2c5.523 0 10 4.477 10 10s-4.477 10-10 10S2 17.523 2 12S6.477 2 12 2m0 2a8 8 0 1 0 0 16a8 8 0 0 0 0-16m0 2a1 1 0 0 1 .993.883L13 7v4.586l2.707 2.707a1 1 0 0 1-1.32 1.497l-.094-.083l-3-3a1 1 0 0 1-.284-.576L11 12V7a1 1 0 0 1 1-1" />
                    </g>
                </svg>
                <input class="mat-input-class" matInput placeholder="50">
                <span class="dual-down-arrow-input-one"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                        viewBox="0 0 15 15">
                        <path fill="#808080" d="M7.5 12L0 4h15z" />
                    </svg></span>
            </div>
        </div>

        <div class="new-form">
            <mat-label class="new-form-label">Sections</mat-label>
            <input class="mat-input-class" matInput placeholder="5">
            <mat-label class="grey-text">How many sections or chapters are included?</mat-label>

        </div>

        <div class="new-form">
            <mat-label class="new-form-label">Parts</mat-label>
            <input class="mat-input-class" matInput placeholder="80">
            <mat-label class="grey-text">How many parts are included?</mat-label>

        </div>

        <div class="new-form">
            <mat-label class="new-form-label">Course Progress</mat-label>
            <input class="mat-input-class" matInput placeholder="30">
            <mat-label class="grey-text">If you fill it, a progress will be displayed on the course page</mat-label>

        </div>
    </div>
    <!-- input field div close -->

    <!-- toggle buttons div -->
    <div class="main-toggle-div">

        <div class="toggle-with-line">
            <!-- sub hedaing  -->
            <div class="sub-heading-div">
                <p class="sub-heading">Support</p>
                <mat-icon class="aroowline-1">play_arrow</mat-icon>
                <p class="arrow-line"></p>
            </div>
            <!-- sub hedaing close -->

            <mat-slide-toggle checked="" class="toggle-button"></mat-slide-toggle>
        </div>

        <div class="text-toggle toggle-with-line  ">
            <!-- sub hedaing  -->
            <div class="sub-heading-div">
                <p class="sub-heading">Includes Certificate</p>
                <mat-icon class="aroowline-2">play_arrow</mat-icon>
                <p class="arrow-line"></p>
            </div>
            <!-- sub hedaing close -->
            <mat-slide-toggle checked="" class="toggle-button"></mat-slide-toggle>
        </div>
        
        <p class="grey-text">Turn it on if your course includes a completion or quiz certificate</p>



        <div class="toggle-with-line">
            <!-- sub hedaing  -->
            <div class="sub-heading-div">
                <p class="sub-heading">Includes Quizzes</p>
                <mat-icon class="aroowline-3">play_arrow</mat-icon>
                <p class="arrow-line"></p>
            </div>
            <!-- sub hedaing close -->

            <mat-slide-toggle checked="" class="toggle-button"></mat-slide-toggle>
        </div>


        <div class="toggle-with-line">
            <!-- sub hedaing  -->
            <div class="sub-heading-div">
                <p class="sub-heading">Downloadable</p>
                <mat-icon class="aroowline-4">play_arrow</mat-icon>
                <p class="arrow-line"></p>
            </div>
            <!-- sub hedaing close -->

            <mat-slide-toggle class="toggle-button"></mat-slide-toggle>
        </div>


        <div class="toggle-with-line">
            <!-- sub hedaing  -->
            <div class="sub-heading-div">
                <p class="sub-heading">Course Forum</p>
                <mat-icon class="aroowline-5">play_arrow</mat-icon>
                <p class="arrow-line"></p>
            </div>
            <!-- sub hedaing close -->

            <mat-slide-toggle checked="" class="toggle-button"></mat-slide-toggle>
        </div>

    </div>
    <!-- toggle buttons div close -->

    <!-- tags div -->
    <div>


        <div class="tags-input-div">
            <div class="tags-input-inner-div">
                <div class="reg-14">Python</div>
                <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" viewBox="0 0 16 16">
                    <g fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
                        <path d="m10.25 5.75l-4.5 4.5m0-4.5l4.5 4.5" />
                        <circle cx="8" cy="8" r="6.25" />
                    </g>
                </svg>
            </div>      
        </div>
       <p class="grey-text" > Type tag name and press enter (Max : 5) </p>


        <div class="new-form">
            <mat-label class="new-form-label">Category</mat-label>
            <div class="selected-form-field">
                <select class="select-input">
                    <option value="">Web Development</option>
                </select>
                <span class="dual-down-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                        viewBox="0 0 15 15">
                        <path fill="#808080" d="M7.5 12L0 4h15z" />
                    </svg></span>
            </div>
        </div>
    </div>
    <!-- tags div close -->

    <!-- Category div  -->
    <div class="Category-main-div" >
        <mat-label class="new-form-label">Category Filters</mat-label>
        
        <div class="checkbox-main-div">
            <section class="checkbox-holder-div">
                <div class="checkbox-holder-heading med-16">Level</div>
                <div class="checkbox-container">
                    <div class="checkbox-text reg-14">Beginner</div>
                    
                    <mat-checkbox class="example-margin" color="primary"></mat-checkbox>
                </div>
                <div class="checkbox-container">
                    <div class="checkbox-text reg-14">Intermediate</div>
                    <mat-checkbox class="example-margin" color="primary" checked=""></mat-checkbox>
                </div>
                <div class="checkbox-container">
                    <div class="checkbox-text reg-14">Expert</div>
                    <mat-checkbox class="example-margin" color="primary"></mat-checkbox>
                </div>
            </section>
            <section class="checkbox-holder-div">
                <div class="checkbox-holder-heading med-16">Language</div>
                <div class="checkbox-container">
                    <div class="checkbox-text reg-14">English</div>
                    <mat-checkbox class="example-margin" color="primary" checked=""></mat-checkbox>
                </div>
                <div class="checkbox-container">
                    <div class="checkbox-text reg-14">Español</div>
                    <mat-checkbox class="example-margin" color="primary"></mat-checkbox>
                </div>
                <div class="checkbox-container">
                    <div class="checkbox-text reg-14">Português</div>
                    <mat-checkbox class="example-margin" color="primary"></mat-checkbox>
                </div>
                <div class="checkbox-container">
                    <div class="checkbox-text reg-14">हिन्</div>
                    <mat-checkbox class="example-margin" color="primary"></mat-checkbox>
                </div>
                <div class="checkbox-container">
                    <div class="checkbox-text reg-14">العربية</div>
                    <mat-checkbox class="example-margin" color="primary"></mat-checkbox>
                </div>
            </section>
            <section class="checkbox-holder-div">
                <div class="checkbox-holder-heading med-16">Topic</div>
                <div class="checkbox-container">
                    <div class="checkbox-text reg-14">English Language</div>
                    <mat-checkbox class="example-margin" color="primary" checked=""></mat-checkbox>
                </div>
                <div class="checkbox-container">
                    <div class="checkbox-text reg-14">English Grammer</div>
                    <mat-checkbox class="example-margin" color="primary" checked=""></mat-checkbox>
                </div>
                <div class="checkbox-container">
                    <div class="checkbox-text reg-14">Spanish Language</div>
                    <mat-checkbox class="example-margin" color="primary"></mat-checkbox>
                </div>
                <div class="checkbox-container">
                    <div class="checkbox-text reg-14">Arabic Language</div>
                    <mat-checkbox class="example-margin" color="primary"></mat-checkbox>
                </div>
                <div class="checkbox-container">
                    <div class="checkbox-text reg-14">IELTS</div>
                    <mat-checkbox class="example-margin" color="primary"></mat-checkbox>
                </div>
            </section>
        </div>

    </div>
    <!-- Category div close -->

</div>
<!-- extra information div close -->