<div class="main-div">
    <div class="head"> <span>New education</span></div>
    <div class="body">
       
        <p class="text-2">Please check the following information for your payout request, we will transfer money to following accounts.</p>
        
    </div>
        <div class="textss">
        <p class="text-1">Ready to payout</p>
        <p class="text-1">$995.20</p>
    </div>
        

    <div class="buttons-div">
        <button mat-raised-button mat-dialog-close class="yesBtn" >Request payout</button>
        <button mat-raised-button mat-dialog-close class="closeBtn" >Close</button>

    </div>
</div>
