<div class="result-statistics">
    <div class="my-quizzer-heading-div">
      <p>Prerequisites (Optional)</p>

      <div class="quizzers-arrow-line-div">
        <mat-icon class="mat-18 quizzers-arrow-icon">play_arrow</mat-icon>
        <p class="quizzers-pink-line "></p>
      </div>
    </div>

  </div>
  <!-- button div starts -->
  <div class="buttondiv">
    <button mat-raised-button color="accent">New Prerequisites</button>
   </div>
  
  <div class="cardarticlediv">
    <mat-card>
      <mat-card-content>
          <div class="cardsection">
              <img src="assets/Courses/Group 340534.png" alt="">
              <span class="spanarticle med-24">No prerequisite is defined!</span>
              <div class="spanpara">
                <span class="reg-16 text-grey">You can create forced or suggested prerequisites for students to learn better.</span>
              </div>
              <!-- <div class="buttonpart">
                  <button mat-raised-button color="accent">Create an article</button>
              </div> -->
          </div>
      </mat-card-content>
    </mat-card>
  </div>