<div class="centerpartdiv"
id="showadd">
<div class="confirmdelete">
    <!-- pop up div -->
    <div class="upperpart">
        <div class="spandiv">
            <!-- <span class="deletespan">Confirm delete</span> -->
        </div>
    </div>
    <!-- p div -->
    <div class="parapart">
        <img src="../../../assets/notification/error.png" alt="">
        <p>Are you sure?</p>
        <span>Convert unread messages to read</span>
    </div>
   
    <div class="buttondiv">
        <div class="example-button-row">
            <button mat-raised-button (click)="yespopup()" class="yes_btn" mat-dialog-close >Yes; Mark all as read!</button>
            <button mat-raised-button class="close" mat-dialog-close>Close</button>
           
          </div>

    </div>
</div>
</div>
